@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


body {
    margin: 0;
    background-color: white;
    color: #000;

    display: flex;
    flex-direction: column;
}

/*말풍선부분*/

.alert_container.show {
    display: block !important;
  }

.alert_container {
     display: none;
    z-index: 99;
    right: 10%;
    
    width: 360px;
    height: 791px;
    
    margin-top: 5px;

    position: absolute;
	background: #f6f6f6;
	border-radius: .4em;
    box-shadow: 3px 3px 10px 5px rgb(231, 231, 231);
    
    border-radius: .4em;

    /* overflow: auto;   */ 
}

.alert_container:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-bottom-color: #f6f6f6;
	border-top: 0;
	margin-left: +54px;
	margin-top: -20px;
}




/* <!-- 즐겨찾기 카드부분 --> */
.alert_myfavcard_contaner {
    display: flex;
    margin: 15px;

    width: 327px;
    height: 120px;

    background-color: #FFFFFF;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
}

.myalert_container {
    display: flex;
    margin: 10px 10px 10px 5px;
}


.alert_categoryImgContainer {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 5px;

}

/* <!-- 이모티콘 --> */
.alert_categoryImg {
    width: 30px;
    height: 30px;
    background-color: #D9D9D9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* <!-- 점선 --> */
.alert_hrpart {
    width: 35px;

}

.alert_hrpart2 {
    width: 14px;
    height: 80px;
    border-right: 1px dotted #D9D9D9;
}

/* <!-- 메인내용 --> */
.alert_Maincontainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    font-family: 'Noto Sans KR', sans-serif;
}



.alert_categoryUpdateContainer {
    display: flex;
    flex-direction: row;
}

.alert_detailCategory {
    width: 61px;
    height: 24px;
    border: 1px solid #8071fc;
    font-size: 12px;

    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

}

.alert_detailCategory div {
    display: flex;
    align-items: center;
}


.alert_updateDate {
    margin-left: 8px;
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #9d9d9d;

    justify-content: center;
    align-items: center;
}

.alert_titleContainerA {
    align-items: center;
    display: flex;
}

.alert_titleContainer {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.alertTitle {
    color: #111111;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: -10px;
}

.alertTitle a {
    color: #111111;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}


.alertWriter {
    color: #767676;
    font-weight: 500;
    padding-bottom: 16px;
    font-size: 12px;
    margin-left: -10px;
}

.achieveAlert {
    color: #9d9d9d;

    font-size: 12px;
    margin-left: -10px;
}

/*작은 동그라미모양*/
.smallC_Container {
    display: flex;
    flex-direction: row;
    margin-top: 44px;
    margin-left: 20px;
    width: 10px;
    height: 10px;
}

.smallC {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    width: 10px;
    height: 10px;
    border: 1px solid #00CA61;
    background-color: #00CA61;
}
.smallC.unread{
     border: 1px solid #00CA61;
    background-color: #00CA61;
}
.smallC.read{
     border: 1px solid silver;
    background-color: silver;
}



/*알림카드 부분 클릭시 바뀌는 부분*/
/*작은 동그라미모양*/
.smallC_Container_after {
    display: flex;
    flex-direction: row;
    margin-top: 19px;
    margin-left: 5px;
    width: 10px;
    height: 10px;
}

.alert_detailCategory_after {
    width: 61px;
    height: 24px;
    border: 1px solid #767676;
    font-size: 12px;

    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;

}


.alertTitle_after {
    color: #767676;
    font-weight: 600;
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: -10px;
}

.alertTitle_after a {
    color: #767676;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}


.alarmContent{
    cursor: pointer;
    font-size: 16px;
}

.alarmContent a {
    color: inherit; /* 링크의 기본 색상을 상속받음 */
  text-decoration: none;
}

.alarmDate{
    font-size: 14px;
    margin-top: 10px;
}




#alarmList {
  overflow-y: scroll; /* 스크롤바 표시 */
  scrollbar-width: thin; /* 스크롤바 너비 조정 (Windows) */
  scrollbar-color: transparent transparent; /* 스크롤바 색상 설정 */
}

#alarmList::-webkit-scrollbar {
  width: 0em; /* 스크롤바 너비 (WebKit 기반 브라우저) */
}

#alarmList::-webkit-scrollbar-thumb {
  background-color: transparent; /* 스크롤바 색상 설정 (WebKit 기반 브라우저) */
}

#alarmList::-webkit-scrollbar-thumb:hover {
  background-color: transparent; /* 스크롤바 호버 상태의 색상 설정 (WebKit 기반 브라우저) */
}

#alarmList::-webkit-scrollbar-track {
  background-color: transparent; /* 스크롤바 트랙 색상 설정 (WebKit 기반 브라우저) */
}

#alarmList::-webkit-scrollbar-track:hover {
  background-color: transparent; /* 스크롤바 트랙 호버 상태의 색상 설정 (WebKit 기반 브라우저) */
}



