@import url('https://webfontworld.github.io/naver/NanumSquare.css');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


*{
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
    line-height: 1.6em;
    
}
a{
    text-decoration: none;
    font-weight: 500;
    font-family: 'NanumSquare', sans-serif;
}

:root{
    --mainColor: #00CA61;
    --titleColor: #252525;
    --redColor: #FF5D5E;
    --contentColor: #767676;
    --etcColor: #d9d9d9;
}

.headerContainer{
    background-color: #F6F6F6;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
    /* position: fixed; */
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content: center;

    position: relative;
}

.headerContent{
    width: 1200px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent > div{
    flex: 1 1 0;
}
/* logo 영역 */
.logo{
    display: flex;
    justify-content: center;
}



/* gnb 영역 */
.headerContent .gnb {
    flex: 2 1 0;
  }
  
  .gnb {
    display: flex;
    justify-content: center;
    color: #767676;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    list-style-type: none;
    scroll-behavior: smooth;
  }
  
  .gnb a {
    margin: 3%;
    color: #767676;
    position: relative;
  }
  
  /* gnb a 태그 밑 선 */
  #horizontal_underline {
    position: absolute;
    width: 0;
    top: 95%;
    height: 4px; 
    background-color: var(--mainColor);
    transition: 0.3s;
    border-radius: 50px;
  }
  
  .gnb a:hover {
    color: var(--mainColor);
    font-weight: 500;
  }
  
  .gnb a:hover + #horizontal_underline,
#horizontal_underline.active {
  width: calc(100% - 2%); /* a 태그 너비에서 좌우 간격을 제외한 영역을 선의 너비로 설정 */
  left: 1%; /* 좌우 간격을 1%로 설정 */
}



/* 로그인, 버튼 영역 */
.myPage{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #767676;
    width: 100%;
    text-align: center;
}

/* 로그인 버튼 */
.myPage > a{
    margin-right: 0.7rem;
}
.loginBtn{
    font-size: 16px;
    font-weight: 400;
    color: #767676;
    font-family: 'NanumSquare', sans-serif;
}

.loginBtn:hover{
    font-family: 'NanumSquare', sans-serif;
    color: var(--mainColor);
    font-weight: 500;
}



/* myPage, alarm toggle event */
.toggle{
    width: 44px;
}
.toggle.active a i{

    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: #efefef;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
}
.myPage i{
    font-size: 1.5rem;
}

.myPage a{
    color: #767676;
    position: relative;
}

.myPage .tooltip:before{
    content: attr(data-text);
    position: absolute;
    background-color: var(--mainColor);
    width: 80px;
    /* height: 10px; */
    color: #F6F6F6;
    font-size: 15px;
    padding: 10px;

    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    border-radius: 50px;
}
.myPage .tooltip:after{
    content: '';
    background: var(--mainColor);
    width: 10px;
    height: 10px;
    position: absolute;
    top: 28px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);

}




/* hover function */
.myPage .tooltip:before,
.myPage .tooltip:after{
    display: none;
}

.myPage .tooltip:hover:before,
.myPage .tooltip:hover:after{
    display: block;
   
}
