@import url('https://webfontworld.github.io/naver/NanumSquare.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/* XEION CDN */
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

*{
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
    margin: 0;
    /* line-height: 1.6em; */
}
.headerACss{
    text-decoration: none;
    font-weight: 500;
}

:root{
    --mainColor: #00CA61;
    --titleColor: #252525;
    --redColor: #FF5D5E;
    --contentColor: #767676;
    --etcColor: #d9d9d9;
}

.headerContainer{
    background-color: #F6F6F6;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
    width: 100%;
    z-index: 100;

    display: flex;
    justify-content: center;

    position: relative;
}

.headerContent{
    width: 1200px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContent > div{
    flex: 1 1 0;
}
/* logo 영역 */
.logo{
    display: flex;
    justify-content: center;
    width: 100%;
}

.logo a .logoImg{

	width: 100%;
	
}

.logoImg img{
	width: 130px;
}



/* gnb 영역 */
.headerContent .gnb {
    flex: 2 1 0;
  }
  
  .gnb {
    display: flex;
    justify-content: center;
    color: #767676;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    list-style-type: none;
    scroll-behavior: smooth;
  }
  
  .gnb a {
    margin: 3%;
    color: #767676;
    position: relative;
  }
  
  /* gnb a 태그 밑 선 */
  #horizontal_underline {
    position: absolute;
    width: 0;
    top: 95%;
    height: 4px; 
    background-color: var(--mainColor);
    transition: 0.3s;
    border-radius: 50px;
  }
  
  .gnb a:hover {
    color: var(--mainColor);
    font-weight: 500;
  }
  
  .gnb a:hover + #horizontal_underline,
#horizontal_underline.active {
  width: calc(100% - 2%); /* a 태그 너비에서 좌우 간격을 제외한 영역을 선의 너비로 설정 */
  left: 1%; /* 좌우 간격을 1%로 설정 */
}



/* 로그인, 버튼 영역 */
.myPage{
    display: flex;
    justify-content: center;
    align-items: center;

    color: #767676;
    width: 100%;
    text-align: center;
}

/* 로그인 버튼 */
.myPage > a{
    margin-right: 0.7rem;
    
}
.loginBtn{
	
    font-size: 16px;
    font-weight: 600;
    color: #767676;
    font-family: 'NanumSquare', sans-serif;
    
	color: var(--mainColor);
    margin-left: 30px;
  
}

.loginBtn:hover{
    font-family: 'NanumSquare', sans-serif;
    color: var(--mainColor);
    font-weight: 500;
}



/* 로그인 된 후 */
.user_sec{
    width: 100%;
    display: flex;
    align-items: center;
}

.loginContainer_box{

    display: flex;
    justify-content: center;
    align-items: center;
}

/* 닉네임 */
.loginContainer_box .nick_container{
    padding: 0px 12px;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 500;
    color: var(--titleColor)

}

.loginContainer_box .nick_container span{
    color: var(--mainColor);
    font-family: 'NanumSquare', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-right: 4px;
}



/* myPage, alarm toggle event */
/* 아이콘 정렬 */


.loginContainer_box .toggle{
    font-size: 1.4rem;
    height: 42px;
    width: 42px;

    transform: translate(0%, 0%);
    top: 30%;

    position: relative;

    
}

.toggle a div{
    

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    color: #767676;
   
    
}

.toggle a::after{
    content: attr(data-text);
    position: absolute;

    background-color: #00CA61;
    /* padding: 12px; */
    border-radius: 50px;
    width: 100px;
    height: 30px;

    font-size: 14px;
    font-family: 'NanumSquare', sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 0.8px;
    text-align: center;
    line-height: 30px;
    

    top: 40px;
    left: -75%;
    /* transform: translateX(50%); */
    white-space: nowrap;

    

}

.toggle a::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #00CA61;

    top:  37px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    
}

/* 로그아웃 */

.logout_Btn{
  
    text-decoration: none;
 

}
.logout_Btn span{
    font-weight: 400;
    font-size: 16px;
    color: var(--etcColor);
    font-family: 'NanumSquare', sans-serif;

    margin-left: 4px;

}

.logout_Btn:before{
    content: "|";
  
    /* border: 1px solid var(--etcColor); */
    margin-right: 8px;
    color: var(--etcColor)
}

.logout_Btn span:hover{
    color: var(--contentColor);
}

.iBox .gray_Style{
    position: relative;
    /* margin-top: 5px; */
}
.green_Style{
    position: absolute;
    color: var(--mainColor);
   

}

/* hover function */
.toggle a:before,
.toggle a:after,
.iBox .green_Style{
    display: none;
}

.toggle a:hover:before,
.toggle a:hover:after,
.iBox:hover .green_Style
{
    display: block;
   
}