@import url('https://webfontworld.github.io/naver/NanumSquare.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');



*{
    box-sizing: border-box;
    padding : 0px;
    margin : 0px;
    font-family: 'NanumSquareNeo';
}



body{
  margin: 0;
  background-color: white;
  color: #000;
  line-height: 1.6em;

  display: flex;
  flex-direction: column;
}

/*상단 나의 문의내역 */
.page-title {
  background-color: #00CA61; ;
 
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title span {
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

/*title 아래 전체 container*/
.mypage-container{    
  display: flex;
  justify-content: center;
}

/*title 아래 전체 container 중 width 1200px*/
.mypage_wrapper{
    width: 1200px;
    display: flex;
    flex-direction: row;   
}



/*===========================================*/
/* 왼쪽 네비바 */
.mypage_nav_area{
  width : 285px;
  /* height: 85vh; */
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  border-left: 0.5px solid #dcdcdc;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.15);

    
}

/*왼쪽 네비바 상단 사진+이름*/
.mypage_summary_container{
  width: 100%;
}
.mypage_profileEmojiContainer{
display: flex;
  
justify-content: center;
align-items: center;
}
.mypage_profileEmojiTheme {
width: 100px;
height: 100px;
background-color: #D9D9D9;
border-radius: 100%;

display: flex;
justify-content: center;
align-items: center;

margin : 96px 90px 16px 79px;


display: block;
  width: 135px;
  height: 135px;
  border: 3px solid #ddd;
  border-radius: 50%;
}


#member-profile{
  width: 130px;
    height: 130px;
    border-radius: 50%;

}



/*왼쪽 네비바 고마운분 */
/* .mypage_hiuser{
  margin: 10px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  font
  font-size: 18px;
  font-weight: 400;
  color: #BDBDBD;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: center;
} */

/*가명: 000 님, 안녕하세요*/
.userName {
  font-weight: 600;
  font-size: 16px;
  
  font-family: 'NanumSquareNeo';

  display: flex;
  justify-content: center;
  color: #767676;
}

.rateName{
  font-size: 18px;
    font-weight: 400;
    color: #767676;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 30px 0px 10px 50px ;
}

.rateName > span {
  font-weight: 600;
}




/*왼쪽 네비바 메뉴*/
.mypage_content_container{
  margin : 80px 137px 526px 46px;
  display: flex;
  justify-content: center;
  white-space: nowrap;
  flex-direction: column;
}

.mypage_content_container ul{
  width: 100%;
  color : #767676;

    
  list-style: none;
}

.mypage_content_container li{
  display: flex;

  text-decoration: none;
  /* font-weight: 500; */
  color: #767676;
  font-family: 'Noto Sans KR', sans-serif;
  /* margin-bottom : 0px; */
}

.mypage_content_container a{
  font-size: 16px;    
  color: #767676;
  
  padding: 5px;
  margin : 5px;  
  margin-left: 0px;  
}
.mypage_content_first {
margin-bottom: 21px;
}


.mypage_content_first_s a{
  font-weight: 400;
font-size: 14px;
color: #767676;
margin-left: 10px;
}

.mypage_content_container hr{
border: 1px solid #D9D9D9;
width: 190px;
margin-right: 40px;
}

.mypage_content_second{
margin-top: 24px;
margin-bottom: 24px;
}

.mypage_content_second a{
font-weight: 400;
font-size: 14px;
color: #767676;
}

   


.mypage_content_third a{
color: #767676;
font-size: 14px;
/* padding: 3px; */
margin-top: 27px; 
border: none;
background-color: transparent;
margin-left: 5px;
font-weight:bold;
cursor: pointer;
}
.mypage_content_third a:hover{

color: #00CA61;
  
font-weight: 600;
transition-duration: 0.2s;
}


.mypage_content_container a:hover{   
  color: #00CA61;
  
  font-weight: 600;
  transition-duration: 0.2s;
}
