/.metadata/
/target/
.classpath
/test/
test
target
target/
pom.properties
MANIFEST.MF
/MANIFEST.MF

.metadata
.metadata/
Servers/
Servers

**/back/Giboo&Take/.settings/
**/back/Giboo&Take/.vscode/
**/back/Giboo&Take/*.classpath

**/back/Giboo&Take/*.project