@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body{
    margin: 0;
    background-color: white;
    color: #000;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #000;
}

.mainContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.menuName {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background: linear-gradient(135deg, #978AFF, #6659D1);
    color: white;
    font-weight: bold;
    box-shadow: -1px 0 10px #505050;
    z-index: 2;
}

.mainContent{
    display: flex;
    margin-left: 200px;
}

.sideMenuArea {
    width: 285px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 1px solid #BDBDBD;
    padding-top: 60px;
    box-shadow: 5px 0 10px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.profileImageArea {
    background-color: #D9D9D9;
    border-radius: 100%;
    width: 112px;
    height: 112px;
    padding: 7px;
    object-fit: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 20px;
}

.profileImage {
    width: 100%;
    height: 100%;
}

.managerNickname {
    color: #BDBDBD;
    font-size: 18px;
}

.welcomeMessage {
    color: #767676;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 60px;
}

.sideMenu {
    font-size: 18px;
    color: #828282;
    width: 80%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.sideMenuItem {
    border-bottom: 2px solid transparent;
    transition-duration: 250ms;
}

.sideMenu > li > a {
    font-size: 16px;
    font-weight: unset;
    transition-duration: 250ms;
}

.sideMenuFocus > a {
    color: #8071FC;
}

.sideMenuFocus {
    border-color: #8071FC;
}

.optionArea {
    width: 80%;
    color: #828282;
}

.logout {
    border: 0;
    background-color: unset;
    font-size: 12px;
    color: inherit;
}

.contentContainer {
    width: 100%;
    background-color: #F6F6F6;
}

.contentArea {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #0000002A;
}


.sortingOptionArea > td {
    text-align: center;
}

.sortingOptionArea > td > button {
    background-color: unset;
    border: 0;
    font-weight: bold;
}

.listTable {
    border-spacing: 8px;
}

.listArea {
    text-align: center;
}

.listArea > td:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
}

.listCheck {
    width: 16px;
    height: 16px;
}

.detail {
    border: 1px solid #BDBDBD;
    border-radius: 20px;
    background-color: unset;
    padding: 4px 8px;
    box-shadow: 2px 2px 10px #0000002A;
    transition-duration: 250ms;
}

.focus {
    background-color: #8071FC;
    color: white;
}