@import url('https://webfontworld.github.io/naver/NanumSquare.css');

*{
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
}

body{
    margin: 0;
    background-color: white;
    color: #000;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #000;
}

:root{
    --mainColor: #00CA61;
    --titleColor: #252525;
    --redColor: #FF5D5E;
    --contentColor: #767676;
    --etcColor: #d9d9d9;
}

/* Common CSS */
.container section{
    height: 100vh;
    padding: 50px;
}
/* 홀수 section에만 배경색 */
section:nth-child(odd){
    background-color: #f8f8f8;
}

/* 1번째 section */
section .inner{
    width: 1150px;
}

/* 3번째 section */
.volContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.volContainer .vol_title p{
    font-family: 'NanumSquare', sans-serif;
    font-size: 45px;
    font-weight: 500;

    margin-bottom : 24px;
}

/* content */
.vol_box{
    width: 421px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid var(--etcColor);
}  

.vol_box div:nth-child(1) img{
    width: 420px;
    height: 313px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--etcColor);
}

/* vol_box 내용 부분 */
.vol_content_part{
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

/* vol_box percent bar */
.vol_content_part .vol_con_bar{
    width: 318px;
    height: 12px;
    background-color: #f0f0f0;
    box-shadow: insert 1px 1px 2px rgba(0, 0, 0.15);
    border-radius: 50px;
}
.vol_con_bar .vol_con_bar_per{
    position:relative;
    display: block;
    width: 70%;
    height: 100%;

    background-color: var(--mainColor);
    box-shadow:  insert 0px 2px 3px rgba(0, 0, 0, 0.3);
    border-radius: 50px;
    animation: progress 0.4s ease-in-out forwards;
}

@keyframes progress{
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.vol_con_bar_per .tooltip{
    position: absolute;
    top: -8px;
    left: 330px;

    font-family: 'NanumSquare', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: var(--etcColor);
}

.vol_con_bar_per .tooltip span{
    font-weight: 600;
    color: var(--mainColor);
}

/* vol_content title */
.vol_content{
    padding-top: 14px;
    padding-bottom: 20px;
}
.vol_content h3{
    padding-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -2.5%;
    color: var(--titleColor);
}
.vol_content div{
    font-family: 'NanumSquare', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: var(--contentColor);
    gap: 4px;
    
    display: flex;
    align-items: center;
}
.vol_content div i{
    font-size: 24px;
}

/* vol_content tag */
.vol_tag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
 
.vol_tag span{
    font-weight: 500;
    font-size: 17px;

    color: var(--mainColor);

    display: inline-block;
    border: 1.5px solid var(--mainColor);
    padding: 5px 14px;
    margin-right:4px;
    border-radius: 50px;

}

.vol_tag .vol_like{
    font-family: 'NanumSquare', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: var(--contentColor);
    
    display: flex;
    align-items: center;
   
}
