@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
/* Fontawesome 4.7 */
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
   
    margin: 0;
    padding: 0;
    text-decoration: none;
}


.footerContainer{
    height: 244px;
    background-color: rgb(255, 218, 218);

    display: flex;
    justify-content: center;
}

.footerContent{
    width: 1200px;
    padding: 0;
    display: flex;
    flex-direction: row;

    background-color: white;
    
}

.footerContent1{
    margin-top: 42px;
    margin-bottom: 39.66px;
    width: 493.24px;
    display: flex;
    flex-direction: column;
}
.footerMainContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footerMain a{
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #252525;
}
.footerMain a:hover{
    color: #8071fc;
    font-weight: 600;
}


