@import url('https://webfontworld.github.io/naver/NanumSquare.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');


*{
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
}

body{
    margin: 0;
    background-color: white;
    color: var(--contentColor);
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #000;
}

:root{
    --mainColor: #00CA61;
    --titleColor: #252525;
    --redColor: #FF5D5E;
    --contentColor: #767676;
    --etcColor: #d9d9d9;
}
main{
    /* margin-top: 65px ; */
    
    background-color: #EFEFEF;
   
}


.signUpSection{
    display: flex;
    justify-content: center;
    align-items: center;



}

.signUpInput_Container_box{
    margin-bottom: 18px;
}

.signUpSection .signUpContainer {

    background-color: #EFEFEF;
    border-radius: 15px;
    margin: 50px 0px;

    box-shadow: 2px 4px 20px 0px rgba(0, 0, 0, 0.30);
}

.signUpContainer .signUpInput_Container{
    width: 546px;
    height: 54px;

    margin: 4px 24px;
    /* padding: 8px 10px; */
    background-color: white;
    border-radius: 15px;

    display: flex;
    align-items: center;
}

.signUpContainer .signUpInput_Container span:nth-child(1){
    font-size: 20px;
    color: #9FF1C6;
    margin: 18px;
}

.signUpContainer span:nth-child(2){
    font-size: 14px;
    font-family: 'NanumSquare', sans-serif;
   
    padding-left: 40px;
    font-weight: 500;

}    


input{
    width: 70%;
    border: 0 solid black;
    padding: 10px 18px;
    outline: none;
}

input::placeholder{
    font-family: 'NanumSquareNeo';
    font-size: 16px;
    color: var(--etcColor);


}

input:focus::placeholder{
    color:transparent;
}

/* 타이틀 */
.signUpContainer .signUpTitle{
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 42px 0px 20px;
    font-family: 'NanumSquare', sans-serif;
    font-size: 24px;
    font-weight: 500;   
    color: var(--titleColor);
}


/* button */
button:not(.singUpBtn){
    width: 20%;
    height: 100%;
    background-color: var(--mainColor); 
    border: 4px solid white; 
    border-radius: 15px; 
    /* padding: 14px 30px; */

    color: white;
    font-family: 'NanumSquare', sans-serif;
    font-size: 16px;
    font-weight: 500;

    cursor: pointer;


}

/* addr */


.signUpInput_addrContainer_box{
    margin: 20px;
}

.signUpInput_addrContainer div{
    width: 100%;
    height: 54px;
    border-radius: 15px;
    background-color: white;
    padding-left: 20px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;

}

.addr_box01 button{
    width: 40%;
}
.signUpContainer .signUpInput_addrContainer div input{
    width: 95%;

}

/* 회원가입 버튼 */

.singUpBtnnBox{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

}

.singUpBtnnBox .singUpBtnn{

    width: 100%;
    border-radius: 15px;
    border:0px;
    background-color: var(--mainColor);
    padding: 15px;
    font-size: 16px;
    font-family: 'NanumSquareNeo';
    font-weight: 600;
    color: white;
    margin-bottom: 20px;

}

/*  */

.error{
    font-size: 14px;
    font-family: 'NanumSquare', sans-serif;
    color: #FF5D5E;
    font-weight: 500;

}
.confirm{
    font-size: 14px;
    font-family: 'NanumSquare', sans-serif;
    color: #00CA61;
    font-weight: 500;

}
