@import url('https://webfontworld.github.io/naver/NanumSquare.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');


*{
    box-sizing: border-box;
    font-family: 'NanumSquare', sans-serif;
}

body{
    margin: 0;
    background-color: white;
    color: #000;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #000;
}

:root{
    --mainColor: #00CA61;
    --titleColor: #252525;
    --redColor: #FF5D5E;
    --contentColor: #767676;
    --etcColor: #d9d9d9;
}
main{
    margin-top: 65px ;
    

}

.signUpSection{
    display: flex;
    justify-content: center;
    align-items: center;

  
    border: 1px solid blue;
}

.signUpSection .signUpContainer {
    border: 1px solid green;

    margin: 50px 0px;

}

.signUpContainer .signUpInput_Container{
    width: 546px;
    height: 54px;

    margin: 10px 20px;
    padding: 8px 10px;

    border: 1px solid red;
}



.signUpSection .signUpContainer{}

/* 타이틀 */
.signUpContainer .signUpTitle{}
.signUpContainer .signUpTitle span{}


/* 이름 */
.signUpContainer .signUpName{}
.signUpContainer .signUpName input{}

.error{
    color: red;
}
.confirm{
    color: green;
}
