<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
<!-- SqlSessionTemplate 생성 시 적용될 설정 작성 부분 -->
<settings>
<!-- insert 또는 update에 사용되는 값 중 null이 있을 경우에 대한 설정
해당 설정이 없을 경우 -> SQL 구문에 null 포함되어 있다는 오류 발생.
해상 설정이 있을 경우 -> 오류를 발생 시키지 않고 NULL 값을 컬럼에 대입
단, NOT NULL 제약조건이 없는 컬럼에만 가능함.
** value 설정 시 NULL 은 반드시 대문자로 작성 (소문자 null은 오류가 발생함) -->
<setting name="jdbcTypeForNull" value="NULL"/>
</settings>
<!-- 별칭 작성 부분 -->
<!-- VO클래스의 패키지명 + 클래스명 작성하는 것이 불편하기 때문에 짧은 별칭 부여 -->
<!-- resultMap을 생성했다면 반드시 typeAlias 만들기!!!!!!!!!!-->
<typeAliases>
	<!-- 사용자 -->
	<typeAlias type="kh.fin.giboo.member.model.vo.Member" alias="member"/>

	<!-- 관리자 -->
	<typeAlias type="kh.fin.giboo.member.model.vo.Manager" alias="manager" />

	<!-- 카테고리 -->
	<typeAlias type="kh.fin.giboo.admin.model.vo.Category" alias="category" />
	<typeAlias type="kh.fin.giboo.admin.model.vo.ParentCategory" alias="parentCategory" />
	<typeAlias type="kh.fin.giboo.admin.model.vo.Rate" alias="rate" />

	<!-- 자주찾는 질문 -->
	<typeAlias type="kh.fin.giboo.cs.model.vo.Faq" alias="faq" />

	<typeAlias type="kh.fin.giboo.member.model.vo.EmailCertification" alias="emailCertification"/>

	<typeAlias type="kh.fin.giboo.notice.model.vo.NoticeImage" alias="noticeImage"/>
	<typeAlias type="kh.fin.giboo.notice.model.vo.NoticeDetail" alias="noticeDetail"/>
	<typeAlias type="kh.fin.giboo.notice.model.vo.Notice" alias="notice"/>

	<typeAlias type="kh.fin.giboo.alarm.model.vo.Alarm" alias="alarm"/>


	<!-- 기부 -->
	<typeAlias type="kh.fin.giboo.donation.model.vo.Donation" alias="donation"/>
	<typeAlias type="kh.fin.giboo.donation.model.vo.DonationDetail" alias="donationDetail"/>

	<!-- 봉사 -->
	<typeAlias type="kh.fin.giboo.volunteer.model.vo.Volunteer" alias="volunteer"/>
	<typeAlias type="kh.fin.giboo.volunteer.model.vo.VolunteerDetail" alias="volunteerDetail"/>

	<!-- 맵 -->
	<typeAlias type="kh.fin.giboo.map.model.vo.MapList" alias="mapList"/>
	<typeAlias type="kh.fin.giboo.map.model.vo.MapDetailTop" alias="mapDetailTop"/>
	<typeAlias type="kh.fin.giboo.map.model.vo.MapDetailHome" alias="mapDetailHome"/>
	<typeAlias type="kh.fin.giboo.map.model.vo.MapDetailReviewReply" alias="mapDetailReviewReply"/>
	<typeAlias type="kh.fin.giboo.map.model.vo.MapDetailReviewStory" alias="mapDetailReviewStory"/>
	<typeAlias type="kh.fin.giboo.map.model.vo.MapDetailImg" alias="mapDetailImg"/>
	<typeAlias type="kh.fin.giboo.map.model.vo.MapPopup" alias="mapPopup"/>
  
	<!-- 이벤트 -->
	<typeAlias type="kh.fin.giboo.event.model.vo.EventList" alias="eventList"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventDetailTop" alias="eventDetailTop"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventDetailContent" alias="eventDetailContent"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventDetailBoardPhoto" alias="eventDetailBoardPhoto"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventStickerBar" alias="eventStickerBar"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventPopup" alias="eventPopup"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventMore" alias="eventMore"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.Event" alias="event"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventDetailMember" alias="eventDetailMember"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventDetailLeft" alias="eventDetailLeft"/>
	<typeAlias type="kh.fin.giboo.event.model.vo.EventStickerBar" alias="eventStickerBar"/>
	
	<!-- 마이페이지 -->
	<typeAlias type="kh.fin.giboo.mypage.model.vo.MyActiveDonationList" alias="myActiveDonationList"/>
	<typeAlias type="kh.fin.giboo.mypage.model.vo.MyActiveVolunteerList" alias="myActiveVolunteerList"/>
	<typeAlias type="kh.fin.giboo.mypage.model.vo.MyActiveEventList" alias="myActiveEventList"/>
	<typeAlias type="kh.fin.giboo.mypage.model.vo.MyReview" alias="myReview"/>


	<!-- 고객센터 -->
	<typeAlias type="kh.fin.giboo.cs.model.vo.Cs" alias="cs" />
	<typeAlias type="kh.fin.giboo.cs.model.vo.Faq" alias="faq" />
	
	
</typeAliases>

<!-- mapper 파일(SQL 작성되는파일) 위치 등록 부분 -->
<mappers>
	<mapper resource="/mappers/member-mapper.xml"/>
	<mapper resource="/mappers/alarm-mapper.xml"/>
	<mapper resource="/mappers/map-mapper.xml"/>
	<mapper resource="/mappers/myPage-mapper.xml" />
	<mapper resource="/mappers/event-mapper.xml" />
	<mapper resource="/mappers/eventPopup-mapper.xml" />
	<mapper resource="/mappers/notice-mapper.xml" />
	<mapper resource="/mappers/admin-mapper.xml" />
	<mapper resource="/mappers/donation-mapper.xml" />
	<mapper resource="/mappers/volunteer-mapper.xml" />
	<mapper resource="/mappers/faq-mapper.xml" />
</mappers>


</configuration>
