*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.ir_pm{ 
    display: flex;
    flex-direction: column;
}

.innerTi{
    display: flex;
    background-color: rgb(255, 210, 242);
    height: 700px;
}


.innerTitle{
    /* background-color: rgb(255, 238, 216); */
    width: 1200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.innerTitle > h4 {
    font-size: 50px;
    font-weight: bolder;
}

.innerTitle > p {
    font-size: 16px;
    /* background-color: rgb(246, 246, 246); */
    margin-top: 30px;
    color: rgb(72, 72, 72);
    font-weight: bold;
    width: 500px;
    height: 100px;
    max-height: 100px;
    overflow: hidden;
}

.link_reg{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 60px;
    border-radius: 30px;
    margin-top: 30px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.innerImg > img {
    width: 400px;
    height: 100%;
}

.inner_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: cadetblue; */
    margin-top: 100px;
    /* height: 500px; */
}

.inner_body > h5{
    font-size: 40px;
    font-weight: bold;
}

.first{
    margin-top: 40px;
    /* background-color: azure; */
    font-size: 15px;
    font-weight: bold;
    width: 800px;
    line-height:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.first_content{
    /* background-color: yellow; */
}

.link_reg2{
    background-color: rgb(0, 0, 0);
    margin-top: 90px;
    width: 300px;
    height: 60px;
    font-size: 17px;
    font-weight: bold;
    color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shareBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chocolate; */
    margin-top: 100px;
}

.shareBtn > button{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    font-size: 25px;
    text-align: center;
    border: none;
    margin-right: 10px;
}

.shareBtn > button:hover{
    cursor: pointer;
}

.recommend{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: violet; */
    margin-top: 100px;
    margin-bottom: 40px;
}

.moreReco{
    /* background-color: antiquewhite; */
    margin-right: 600px;
    font-size: 18px;
}

.listReco{
    display: flex;
    /* background-color: yellowgreen; */
    margin-top: 10px;
}

.listReco > li{
    /* background-color: blueviolet; */
    margin-left: 20px;
    max-width: 160px;
}


.titleReco{
    /* background-color: antiquewhite; */
    margin-top: 12px;
    font-size: 15px;
    margin-left: 3px;
    margin-right: 3px;
}

.titleReco > span{
    color: black;
}

.imgUrl > img{
    width: 160px;
    height: 160px;
    border-radius: 15px;
    overflow: hidden;
}

.recoMore{
    background-color: rgb(255, 255, 255);
    margin-top: 30px;
    width: 90px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    border: 1px solid rgb(208, 208, 208);
}

.recoMoreBtn{
    font-size: 15px;
    color: black;
}

.recoMore:hover{
    cursor: pointer;
}