<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="donationMapper">

    <resultMap id="donation_rm" type="donation">
        <id property="donationNo" column="DONATION_NO" />
        <result property="targetAmount" column="TARGET_AMOUNT" />
        <result property="locationX" column="LOCATION_X" />
        <result property="locationY" column="LOCATION_Y" />
        <result property="donationAddr" column="DONATION_ADDR" />
        <result property="enrollDate" column="ENROLL_DATE" />
        <result property="startRecruitDate" column="START_RECRUIT_DATE" />
        <result property="endRecruitDate" column="END_RECRUIT_DATE" />
        <result property="startProgressDate" column="START_PROGRESS_DATE" />
        <result property="endProgressDate" column="END_PROGRESS_DATE" />
        <result property="deleteStatus" column="DELETE_STATUS" />
        <result property="dComStatus" column="DCOM_STATUS" />
        <result property="donationAmount" column="DONATION_AMOUNT" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="donationTitle" column="DONATION_TITLE" />
        <result property="donationContent" column="DONATION_CONTENT" />
        <result property="donationAttachment" column="DONATION_ATTACHMENT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="parentCategoryName" column="PARENT_CATEGORY_NAME" />
        <result property="agencyName" column="AGENCY_NAME" />
    </resultMap>

    <resultMap id="donationDetail_rm" type="donationDetail">
        <id property="donationNo" column="DONATION_NO" />
        <result property="targetAmount" column="TARGET_AMOUNT" />
        <result property="locationX" column="LOCATION_X" />
        <result property="locationY" column="LOCATION_Y" />
        <result property="donationAddr" column="DONATION_ADDR" />
        <result property="enrollDate" column="ENROLL_DATE" />
        <result property="startRecruitDate" column="START_RECRUIT_DATE" />
        <result property="endRecruitDate" column="END_RECRUIT_DATE" />
        <result property="startProgressDate" column="START_PROGRESS_DATE" />
        <result property="endProgressDate" column="END_PROGRESS_DATE" />
        <result property="deleteStatus" column="DELETE_STATUS" />
        <result property="dComStatus" column="DCOM_STATUS" />
        <result property="donationAmount" column="DONATION_AMOUNT" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="donationTitle" column="DONATION_TITLE" />
        <result property="donationContent" column="DONATION_CONTENT" />
        <result property="donationAttachment" column="DONATION_ATTACHMENT" />
        <result property="memberNo" column="MEMBER_NO" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="parentCategoryName" column="PARENT_CATEGORY_NAME" />
        <result property="agencyName" column="AGENCY_NAME" />
    </resultMap>

    <resultMap id="parentCategory_rm" type="parentCategory" >
        <id property="parentCategoryNo" column="PARENT_CATEGORY_NO" />
        <result property="parentCategoryName" column="PARENT_CATEGORY_NAME" />
        <result property="parentCategoryThumbnail" column="PARENT_CATEGORY_THUMBNAIL" />
        <result property="categoryName" column="CATEGORY_NAME" />
    </resultMap>

    <resultMap id="donationStory_rm" type="donationStory">
        <id property="donationStoryNo" column="DONATION_STORY_NO" />
        <result property="donationStoryTitle" column="DONATION_STORY_TITLE" />
        <result property="donationStoryContent" column="DONATION_STORY_CONTENT" />
        <result property="attachment" column="ATTACHMENT" />
        <result property="enrollDt" column="ENROLL_DT" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="deleteStatus" column="DELETE_STATUS" />
        <result property="memberNick" column="MEMBER_NICK" />
        <result property="memberNo" column="MEMBER_NO"/>
    </resultMap>
    
    <resultMap id="favorite_rm" type="favorite">
        <id property="favoriteNo" column="FAVORITE_NO" />
        <result property="favoriteStatus" column="FAVORITE_STATUS" />
        <result property="memberNo" column="MEMBER_NO" />
        <result property="donationNo" column="DONATION_NO" />
        <result property="volunteerNo" column="VOLUNTEER_NO" />
    </resultMap>

    <select id="getParentCategoryList" resultMap="parentCategory_rm">
        SELECT PARENT_CATEGORY_NO, PARENT_CATEGORY_NAME, PARENT_CATEGORY_THUMBNAIL
        FROM PARENT_CATEGORY
        WHERE CATEGORY_NO = 1
    </select>

    <select id="getListCount" resultType="_int">
        SELECT COUNT(*)
        FROM DONATION
        WHERE DELETE_STATUS = 'N'
        <if test="category != null">
            AND PARENT_CATEGORY_NO = ${category}
        </if>
    </select>

    <select id="getDonationList" resultMap="donation_rm">
        SELECT DONATION_NO, DONATION_TITLE, END_RECRUIT_DATE, TARGET_AMOUNT, DONATION_AMOUNT, PC.PARENT_CATEGORY_NAME
        FROM DONATION D, PARENT_CATEGORY PC
        <if test="category != null">
            WHERE D.PARENT_CATEGORY_NO = ${category}
            AND D.PARENT_CATEGORY_NO = PC.PARENT_CATEGORY_NO
            AND DELETE_STATUS = 'N'
        </if>
        ORDER BY DONATION_NO DESC
    </select>

    <select id="getDonationListAll" resultMap="donation_rm">
        SELECT DONATION_NO, DONATION_TITLE, END_RECRUIT_DATE, TARGET_AMOUNT, DONATION_AMOUNT
        FROM DONATION
        WHERE DELETE_STATUS = 'N'
        ORDER BY DONATION_NO DESC
    </select>

    <select id="getDonationDetail" resultMap="donationDetail_rm">
        SELECT DONATION_NO, DONATION_TITLE, DONATION_CONTENT, START_RECRUIT_DATE, END_RECRUIT_DATE, START_PROGRESS_DATE, END_PROGRESS_DATE, TARGET_AMOUNT, DONATION_AMOUNT, DONATION_ADDR, A.AGENCY_NAME
        FROM DONATION D, AGENCY A
        WHERE DONATION_NO = ${donationNo}
        AND D.AGENCY_NO = A.AGENCY_NO
    </select>
    
    <select id="getFavoriteList" resultMap="favorite_rm">
        SELECT DONATION_NO
        FROM FAVORITES
        WHERE MEMBER_NO = ${memberNo}
    </select>

    <select id="getDonationListCount" resultType="_int">
        SELECT COUNT(*)
        FROM DONATION
        WHERE DELETE_STATUS = 'N'
        <if test="category != null">
            AND PARENT_CATEGORY_NO = ${category}
        </if>
    </select>

    <insert id="sync">
        INSERT ALL
            INTO PAYMENT(PAYMENT_NO, PAYMENT_TYPE, PAYMENT_PRICE, MEMBER_NO, DONATION_NO, PAYMENT_UID) VALUES (SEQ_PAYMENT_NO.nextval, #{payMethod}, ${paidAmount}, ${memberNo}, ${donationNo}, #{impUid})
            INTO MYACTIVE_DONATION(MYACTIVE_DONATION_NO, DONATION_NO, MEMBER_NO, DONATION_MONEY) VALUES (MYACTIVE_DONATION_NO_SEQ.nextval, ${donationNo}, ${memberNo}, ${paidAmount})
        SELECT * FROM DUAL
    </insert>

    <update id="updateAmount">
        UPDATE DONATION
        SET DONATION_AMOUNT = DONATION_AMOUNT + ${paidAmount}
        WHERE DONATION_NO = ${donationNo}
    </update>

    <insert id="insertDonation" parameterType="donationDetail" useGeneratedKeys="true">
        <selectKey keyProperty="donationNo"  resultType="_int"  order="BEFORE">
            SELECT SEQ_NOTICE_NO.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO DONATION
        VALUES (
                ${donationNo},
                ${targetAmount},
                123,
                321,
                #{donationAddr},
                DEFAULT,
                #{startRecruitDate},
                #{endRecruitDate},
                #{startProgressDate},
                #{endProgressDate},
                DEFAULT,
                DEFAULT,
                0,
                DEFAULT,
                #{donationTitle},
                #{donationContent},
                NULL,
                ${memberNo},
                11,
                1
               )
    </insert>

    <update id="updateDonation">
        UPDATE DONATION
        SET DONATION_TITLE = #{donationTitle},
            START_RECRUIT_DATE = #{startRecruitDate},
            END_RECRUIT_DATE = #{endRecruitDate},
            START_PROGRESS_DATE = #{startProgressDate},
            END_PROGRESS_DATE = #{endProgressDate},
            TARGET_AMOUNT = ${targetAmount},
            DONATION_ADDR = #{donationAddr},
            DONATION_CONTENT = #{donationContent},
            ENROLL_DATE = SYSDATE
        WHERE DONATION_NO = ${donationNo}
    </update>
    
    <select id="getStoryListCount" resultType="_int">
        SELECT COUNT(*)
        FROM DONATION_STORY
        WHERE DELETE_STATUS = 'N'
    </select>

    <select id="getStoryList" resultMap="donationStory_rm">
        SELECT DONATION_STORY_NO, DONATION_STORY_TITLE, DONATION_STORY_CONTENT, M.MEMBER_NICK, VIEW_COUNT,
        CASE WHEN SYSDATE - DS.ENROLL_DT &lt; 1
            THEN TO_CHAR(DS.ENROLL_DT, 'YYYY-MM-DD')
        ELSE TO_CHAR(DS.ENROLL_DT, 'HH:MI')
        END ENROLL_DT

        FROM DONATION_STORY DS, MEMBER M
        WHERE M.MEMBER_NO = DS.MEMBER_NO
        AND DELETE_STATUS = 'N'

        ORDER BY DONATION_STORY_NO DESC
    </select>

    <select id="selectDonationStory" resultMap="donationStory_rm">
        SELECT DONATION_STORY_NO, DONATION_STORY_TITLE, DONATION_STORY_CONTENT,
               TO_CHAR(DS.ENROLL_DT, 'YYYY. MM. DD') ENROLL_DT,
               VIEW_COUNT, M.MEMBER_NICK, DS.MEMBER_NO
        FROM DONATION_STORY DS, MEMBER M
        WHERE DONATION_STORY_NO = ${donationStoryNo}
        AND DS.MEMBER_NO = M.MEMBER_NO
        AND DELETE_STATUS = 'N'
    </select>

    <update id="updateViewCount">
        UPDATE DONATION_STORY
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE DONATION_STORY_NO = ${donationStoryNo}
    </update>
</mapper>
