<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="donationMapper">

    <resultMap id="donation_rm" type="donation">
        <id property="donationNo" column="DONATION_NO" />
        <result property="targetAmount" column="TARGET_AMOUNT" />
        <result property="locationX" column="LOCATION_X" />
        <result property="locationY" column="LOCATION_Y" />
        <result property="donationAddr" column="DONATION_ADDR" />
        <result property="enrollDate" column="ENROLL_DATE" />
        <result property="startRecruitDate" column="START_RECRUIT_DATE" />
        <result property="endRecruitDate" column="END_RECRUIT_DATE" />
        <result property="startProgressDate" column="START_PROGRESS_DATE" />
        <result property="endProgressDate" column="END_PROGRESS_DATE" />
        <result property="deleteStatus" column="DELETE_STATUS" />
        <result property="dComStatus" column="DCOM_STATUS" />
        <result property="donationAmount" column="DONATION_AMOUNT" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="donationTitle" column="DONATION_TITLE" />
        <result property="donationContent" column="DONATION_CONTENT" />
        <result property="donationAttachment" column="DONATION_ATTACHMENT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="parentCategoryName" column="PARENT_CATEGORY_NAME" />
        <result property="agencyName" column="AGENCY_NAME" />
    </resultMap>

    <select id="selectDonationList" resultMap="donation_rm">
        SELECT DONATION_NO, DONATION_TITLE, END_RECRUIT_DATE, TARGET_AMOUNT, DONATION_AMOUNT
        FROM DONATION
        ORDER BY DONATION_NO ASC
    </select>
</mapper>
