<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="volunteerMapper">
    
    <resultMap id="volunteer_rm" type="volunteer">
        <id property="volunteerNo" column="VOLUNTEER_NO" />
        <result property="targetPeople" column="TARGET_PEOPLE" />
        <result property="locationX" column="LOCATION_X" />
        <result property="locationY" column="LOCATION_Y" />
        <result property="volunteerAddr" column="VOLUNTEER_ADDR" />
        <result property="volunteerTime" column="VOLUNTEER_TIME" />
        <result property="enrollDate" column="ENROLL_DATE" />
        <result property="startRecruitDate" column="START_RECRUIT_DATE" />
        <result property="endRecruitDate" column="END_RECRUIT_DATE" />
        <result property="startProgressDate" column="START_PROGRESS_DATE" />
        <result property="endProgressDate" column="END_PROGRESS_DATE" />
        <result property="volunteerDeleteStatus" column="VOLUNTEER_DELETE_STATUS" />
        <result property="volunteerCompleteStatus" column="VOLUNTEER_COMPLETE_STATUS" />
        <result property="volunteerCount" column="VOLUNTEER_COUNT" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="volunteerTitle" column="VOLUNTEER_TITLE" />
        <result property="volunteerContent" column="VOLUNTEER_CONTENT" />
        <result property="volunteerAttachment" column="VOLUNTEER_ATTACHMENT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="parentCategoryName" column="PARENT_CATEGORY_NAME" />
        <result property="agencyName" column="AGENCY_NAME" />
        <result property="favVolunteerNo" column="VOLUNTEER_NO" />
    </resultMap>

    <resultMap id="volunteerDetail_rm" type="volunteerDetail">
        <id property="volunteerNo" column="VOLUNTEER_NO" />
        <result property="targetPeople" column="TARGET_PEOPLE" />
        <result property="locationX" column="LOCATION_X" />
        <result property="locationY" column="LOCATION_Y" />
        <result property="volunteerAddr" column="VOLUNTEER_ADDR" />
        <result property="volunteerTime" column="VOLUNTEER_TIME" />
        <result property="enrollDate" column="ENROLL_DATE" />
        <result property="startRecruitDate" column="START_RECRUIT_DATE" />
        <result property="endRecruitDate" column="END_RECRUIT_DATE" />
        <result property="startProgressDate" column="START_PROGRESS_DATE" />
        <result property="endProgressDate" column="END_PROGRESS_DATE" />
        <result property="volunteerDeleteStatus" column="VOLUNTEER_DELETE_STATUS" />
        <result property="volunteerCompleteStatus" column="VOLUNTEER_COMPLETE_STATUS" />
        <result property="volunteerCount" column="VOLUNTEER_COUNT" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="volunteerTitle" column="VOLUNTEER_TITLE" />
        <result property="volunteerContent" column="VOLUNTEER_CONTENT" />
        <result property="volunteerAttachment" column="VOLUNTEER_ATTACHMENT" />
        <result property="memberId" column="MEMBER_ID" />
        <result property="parentCategoryName" column="PARENT_CATEGORY_NAME" />
        <result property="agencyName" column="AGENCY_NAME" />
    </resultMap>

    <resultMap id="parentCategory_rm" type="parentCategory" >
        <id property="parentCategoryNo" column="PARENT_CATEGORY_NO" />
        <result property="parentCategoryName" column="PARENT_CATEGORY_NAME" />
        <result property="parentCategoryThumbnail" column="PARENT_CATEGORY_THUMBNAIL" />
        <result property="categoryName" column="CATEGORY_NAME" />
    </resultMap>

    <resultMap id="volunteerStory_rm" type="volunteerStory" >
        <id property="volunteerStoryNo" column="VOLUNTEER_STORY_NO" />
        <result property="volunteerStoryTitle" column="VOLUNTEER_STORY_TITLE" />
        <result property="volunteerStoryContent" column="VOLUNTEER_STORY_CONTENT" />
        <result property="attachment" column="ATTACHMENT" />
        <result property="enrollDt" column="ENROLL_DT" />
        <result property="viewCount" column="VIEW_COUNT" />
        <result property="deleteStatus" column="DELETE_STATUS" />
        <result property="memberNick" column="MEMBER_NICK" />
        <result property="memberNo" column="MEMBER_NO"/>
    </resultMap>

    <resultMap id="favorite_rm" type="favorite">
        <id property="favoriteNo" column="FAVORITE_NO" />
        <result property="favoriteStatus" column="FAVORITE_STATUS" />
        <result property="memberNo" column="MEMBER_NO" />
        <result property="donationNo" column="DONATION_NO" />
        <result property="volunteerNo" column="VOLUNTEER_NO" />
    </resultMap>

    <select id="getParentCategoryList" resultMap="parentCategory_rm">
        SELECT PARENT_CATEGORY_NO, PARENT_CATEGORY_NAME, PARENT_CATEGORY_THUMBNAIL
        FROM PARENT_CATEGORY
        WHERE CATEGORY_NO = 2
        ORDER BY CATEGORY_NO ASC
    </select>

    <select id="getListCount" resultType="_int">
        SELECT COUNT(*)
        FROM VOLUNTEER
        WHERE VOLUNTEER_DELETE_STATUS = 'N'
        <if test="category != null">
            AND PARENT_CATEGORY_NO = ${category}
        </if>
    </select>

    <select id="getVolunteerList" resultMap="volunteer_rm">
        SELECT VOLUNTEER_NO, VOLUNTEER_TITLE, END_RECRUIT_DATE, TARGET_PEOPLE, VOLUNTEER_COUNT, PC.PARENT_CATEGORY_NAME
        FROM VOLUNTEER V, PARENT_CATEGORY PC
        WHERE VOLUNTEER_DELETE_STATUS = 'N'
        <if test="category != null">
            AND V.PARENT_CATEGORY_NO = ${category}
            AND V.PARENT_CATEGORY_NO = PC.PARENT_CATEGORY_NO
        </if>
        ORDER BY VOLUNTEER_NO ASC
    </select>

    <select id="getVolunteerListAll" resultMap="volunteer_rm">
        SELECT VOLUNTEER_NO, VOLUNTEER_TITLE, END_RECRUIT_DATE, TARGET_PEOPLE, VOLUNTEER_COUNT
        FROM VOLUNTEER
        WHERE VOLUNTEER_DELETE_STATUS = 'N'
        ORDER BY VOLUNTEER_NO ASC
    </select>

    <select id="getVolunteerDetail" resultMap="volunteerDetail_rm">
        SELECT VOLUNTEER_TITLE, VOLUNTEER_CONTENT, END_RECRUIT_DATE, TARGET_PEOPLE, VOLUNTEER_COUNT, AGENCY_NAME
        FROM VOLUNTEER V, AGENCY A
        WHERE VOLUNTEER_NO = ${volunteerNo}
        AND VOLUNTEER_DELETE_STATUS = 'N'
        AND V.AGENCY_NO = A.AGENCY_NO
    </select>
    
    <select id="getFavoriteList" resultMap="favorite_rm">
        SELECT VOLUNTEER_NO
        FROM FAVORITES
        WHERE MEMBER_NO = ${memberNo}
    </select>

    <select id="volunteerListCount" resultType="_int">
        SELECT COUNT(*)
        FROM VOLUNTEER
        WHERE VOLUNTEER_DELETE_STATUS = 'N'
        <if test="category != null">
            AND PARENT_CATEGORY_NO = ${category}
        </if>
    </select>

    <select id="getStoryListCount" resultType="_int">
        SELECT COUNT(*)
        FROM VOLUNTEER_STORY
        WHERE DELETE_STATUS = 'N'
    </select>

    <select id="getStoryList" resultMap="volunteerStory_rm">
        SELECT VOLUNTEER_STORY_NO, VOLUNTEER_STORY_TITLE, VOLUNTEER_STORY_CONTENT, M.MEMBER_NICK, VIEW_COUNT,
        CASE WHEN SYSDATE - VS.ENROLL_DT &lt; 1
        THEN TO_CHAR(VS.ENROLL_DT, 'YYYY-MM-DD')
        ELSE TO_CHAR(VS.ENROLL_DT, 'HH:MI')
        END ENROLL_DT

        FROM VOLUNTEER_STORY VS, MEMBER M
        WHERE M.MEMBER_NO = VS.MEMBER_NO
        AND DELETE_STATUS = 'N'
        ORDER BY VOLUNTEER_STORY_NO DESC
    </select>

    <select id="selectVolunteerStory" resultMap="volunteerStory_rm">
        SELECT VOLUNTEER_STORY_NO, VOLUNTEER_STORY_TITLE, VOLUNTEER_STORY_CONTENT,
               TO_CHAR(VS.ENROLL_DT, 'YYYY. MM. DD') ENROLL_DT,
               VIEW_COUNT, M.MEMBER_NICK, VS.MEMBER_NO
        FROM VOLUNTEER_STORY VS, MEMBER M
        WHERE VOLUNTEER_STORY_NO = ${volunteerStoryNo}
        AND VS.MEMBER_NO = M.MEMBER_NO
        AND DELETE_STATUS = 'N'
    </select>

    <update id="updateViewCount">
        UPDATE VOLUNTEER_STORY
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE VOLUNTEER_STORY_NO = ${volunteerStoryNo}
    </update>
</mapper>
