@import url('https://webfontworld.github.io/naver/NanumSquare.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: white;
	color: #000;
	line-height: 1.6em;
	display: flex;
	flex-direction: column;
}

a{
    text-decoration: none;

}


:root{
  --mainColor: #00CA61;
  --titleColor: #252525;
  --redColor: #FF5D5E;
  --contentColor: #767676;
  --etcColor: #d9d9d9;
  --mainSubColor:#cfebdc;
}

/*이벤트 상단 메뉴*/

.mainCategoryArea {
    background-color: var(--mainColor);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;	

	/* border: 1px solid red; */
}
    

.elink_tab{
	width: 80px;
	
	font-family: 'NanumSquareNeo';
    font-size: 16px;
    font-weight: 600;
    color: var(--mainSubColor);

    padding: 4px 12px;
    margin-inline: 8px;
    border-radius: 20px;
    
    /* border: 1px solid blue; */
     display: flex;
    justify-content: center;
    align-items: center;	
    
    
	
}

.mainCategoryArea a{
	font-weight: 700;
}

.mainCategoryChecked{
	   font-family: 'NanumSquareNeo';
    height: 40px;
    line-height: 30px;
    font-size: 16px;
    background-color: #fff;
    color: var(--mainColor);
   
}
    
/* .ewrap_tab{

     background-color: var(--mainColor);

    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
    

.elist_tab{
	border: 1px solid red;
	width: 300px;
	display: flex;
    align-items: center;
    justify-content: space-between;
}

.etxt_tab{
	
 	font-family: 'NanumSquareNeo';
    font-size: 16px;
    font-weight: 600;
    color: var(--mainSubColor);

    padding: 4px 12px;
    margin-inline: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
	
}

.eon:nth-child(2){
	    font-family: 'NanumSquareNeo';
    font-size: 16px;
    font-weight: 600;
    color: var(--mainSubColor);

    padding: 4px 12px;
    margin-inline: 8px;
    border-radius: 20px;
     
    height: 40px;
    line-height: 30px;
    font-size: 16px;
    background-color: #fff;
    color: var(--mainColor);
 
}

.eon:nth-child(2) > a > span{
	font-family: 'NanumSquareNeo';
    color: #00CA61;
    font-style: normal;

}
 */

/* -----------페이지 네이션-------------- */
.eventList_main{

  
    height: 100%;
}

.event-pagination-area{

 display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    position: relative;

    margin-bottom: 30px;
    margin-top: 24px;
}

.event-pagination{

    
      position: relative;
    display: flex;
    padding: 4px 2px;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.event-pagination li{
	 list-style: none;
    line-height: 50px;
    margin: 0 5px;
    
     width: 38px; 
   height: 38px;
   line-height: 38px;
   text-align: center;

   font-family: 'NanumSquareNeo';
   font-weight: 700;
   font-size: 16px;
}

.event-pagination > li > a{
     display: block;
    text-decoration: none;
    color: var(--etcColor);
    font-weight: 600;
    border-radius: 50%;
}

ul li.num:hover a,
ul li.num.active a{
    background-color: var(--mainColor);
    color: white;
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-size: 16px;
    
}

ul li.first,
ul li.prev{
    margin-right: 30px;
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    font-size: 14px;
}

/*  */
.egroup_catalog{
	
	
   /* border: 1px solid red; */
}

.elist_official{
    /* background-color: yellowgreen; */
    height: auto;
  /* border: 1px solid blue; */
}

/* .elist_official > li{
    background-color:#F6F6F6;
    width: 284px;
    height: 380px;
    border-radius: 20px;
} */

.elist_officialLi{
    background-color:#F6F6F6;
    width: 284px;
    height: 380px;
    border-radius: 20px;
    margin-bottom: 10px;
}


.elist_officialLi:hover{
 box-shadow: 0 0px 16px 0px #73737342;
}

/* 두번째 상자 다른 스타일로 - 시작 */
.eother{
/* 	border: 1px solid red; */
    background-color:#ffffff !important;
    width: 284px;
    height: 380px;
    border-radius: 20px;
   border: 1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.elink_official_2{
	
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.earea_thumb_2 > img{
    width: 90px;
    height: 90px;
    margin-bottom: 40px;
    border-radius: 50%;
}

.etxt_official_2{
	
	font-family: 'NanumSquareNeo';
	
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0.05em;

    color: #4D4D4D;
    margin-bottom: 4px;
}

.ereg_2{
	
	font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-align: center;

    color: #9D9D9D;
    margin-bottom: 20px;
}

.edetail > a > span{
		font-family: 'NanumSquareNeo';
	
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

    color: #00CA61;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edetail{
	font-family: 'NanumSquareNeo';
	font-size: 16px;
	

    width: 107px;        
    height: 37px;

    border: 1px solid #00CA61;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 두번째 상자 다른 스타일로 - 끝 */

.earea_thumb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 마감임박 */
/* .earea_thumb_period{
    background-color: #FC71A3;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 95px;
    bottom: 233px;
} */

/* 종료 */
/* .earea_thumb_period_end{
    background-color: #767676;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 95px;
    bottom: 233px;
} */

/* 진행중 */
/* .earea_thumb_period_go{
    background-color: #00CA61;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 95px;
    bottom: 233px;
} */


.earea_thumb_period {
    border-radius: 50%;
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 95px;
    bottom: 233px;
}

.earea_thumb_period.마감임박 {
    background-color: var(--redColor);
}

.earea_thumb_period.종료 {
    background-color: #767676;
}

.earea_thumb_period.진행중 {
    background-color: #00CA61;
    
    
}


.earea_thumb_period > span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.05em;
    font-family: 'NanumSquareNeo';
    color: #FFFFFF;
}

.earea_thumb_period_end > span{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #FFFFFF;
}

.earea_thumb_period_go > span{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #FFFFFF;
}

.earea_thumb > img{
    width: 260.57px;
    height: 246.43px;
    border-radius: 12px;
    margin-top: 16px;
}

.etxt_official{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: yellowgreen; */
    position: relative;
    bottom: 30px;
}

.etxt_officialTi{
    width: 250px;
    max-height: 55px;
    /* background-color: yellow; */
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 4px;
}

.etxt_officialTi > span{
	font-family: 'NanumSquareNeo';
	
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #4D4D4D;
}

.escrean_out{
	font-family: 'NanumSquareNeo';
    color: #9D9D9D;
/*     font-style: normal; */
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

.ereg{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    width: 238px;
    height: 38px;
    position: relative;
    bottom: 20px;
    border-top: 1px solid #D9D9D9;
}

.elink_official{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ereg span:nth-child(1){
	margin-right: 4px;
	margin-top: 2px;
}
.ereg > span{
	font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.05em;

    color: #767676;
    
}

.elist_official{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1199px;
    height: 780px;
    /* background-color: yellowgreen; */
}



.egroup_catalog{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    /* background-color: yellowgreen; */
}



/* 페이지네이션 */

.epnation{
    display: flex;
    justify-content: center;
}

.epnation{
    margin-top: 48px;
}

.epnation_wrap{
    display: flex;      
    align-items: center;
    justify-content: center;
}

.epnation_ul{
    display: flex;
    width: 388px;
    align-items: center;
    justify-content: center;
}

.epnation_ul > li{
    display: flex;
    width: 340px;
    height: 28px;
    align-items: center;
    /* background-color: rgb(134, 175, 45); */
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    color: #767676;
}

