@import url('https://webfontworld.github.io/naver/NanumSquare.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	background-color: white;
	color: #000;
	line-height: 1.6em;
	display: flex;
	flex-direction: column;
}

a {
	text-decoration: none;
	color: #000;
}

:root{
  --mainColor: #00CA61;
  --titleColor: #252525;
  --redColor: #FF5D5E;
  --contentColor: #767676;
  --etcColor: #d9d9d9;
  --mainSubColor:#cfebdc;
}

/*  */
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.edWrap{
    position: relative;
}







/* ~~~~~~~ eventDetailTop ~~~~~~~ */
/* 메인 이미지 */

.edWrapBox{
    display: flex;
    background: #FFFFFF;
    /* border: 1px solid #D9D9D9; */
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 1200px;
    overflow: hidden;
    margin-top: 30px;
    

    
}

/* 이미지*/
.edWrapBox .edWrap{
	
}



.edWrap > img{
    width: 813px;
    height: 650px;
    

}

/* top영역 _ 이벤트 정보  */

.edWrapDetail{

   margin: 24px 42px 24px 24px;
}

.edWrapPeriod{
	

    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16px;
}

.edWrapPeriodSpan{
    border: 1px solid #00CA61;
    border-radius: 100px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    
	font-family: 'NanumSquareNeo';

}

.edWrapPeriodSpan > span:nth-child(1){
    padding-left: 16px;
}

.edWrapPeriodSpan > span:nth-child(2){
    padding-right: 16px;
}

.edWrapPeriodSpan > span{
    font-family: 'NanumSquareNeo';

    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #00CA61;
}

/* 이벤트 타이틀 */

.edWrapTitle{
   /*  width: 208px; */
}

.edWrapTitle > span{
 font-family: 'NanumSquareNeo';
/* font-style: normal; */
font-weight: 600;
font-size: 26px;
line-height: 36px;
/* letter-spacing: -0.05em; */
color: var(--titleColor);
}


/*==============================================*/

/* 프로그래스 바  */
.progressArea {

    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 340px;
    
    
}

.progressInfo {
    display: flex;
    justify-content: space-between;
  
}

.progressPercentage {

	font-family: 'NanumSquareNeo';

    color: #00CA61;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    
     display: flex;
    justify-content: flex-end;
    
 
}

.goal {
    color: #767676;
    font-size: 12px;
    font-weight: 600;
}

.progressBar {
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color: #F0F0F0;
    margin: 10px 0px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.30) inset;
    
  
   
}

.progressBarValue {

background-color: var(--mainColor);
box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.30) inset;


    border-radius: 30px;

    width: 50%;
    height: 100%;
   
}

.progressStatus {
    display: flex;
    justify-content: space-between;
}

.progressStatus > span {
    color: #767676;
    font-size: 14px;
    font-weight: bolder;
    /* margin-right: 14px; */
    display: flex;
    align-items: center;
    font-family: 'NanumSquareNeo';
}

.progressStatus > span > img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
}

.progressStatus > span > span {
	font-family: 'NanumSquareNeo';
	
    font-size: 14px;
    font-weight: 600;
    color: var(--mainColor);
}



/* 함께하고 있어요 부분! */

.eParMoreWrap{
	border-top: 1px solid var(--etcColor);
}

.eParMoreBox{
/* 	border: 1px solid red;
 */	padding: 16px;
}


/* eventDetailMore.jsp 로 넘어감  */


.eParMoreTitle{
   /*  margin: 30px 0px; */
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #767676;
    
     display: flex;
     align-items: center;
    
    
}

.eParMoreTitle span{
	margin-top: 2px;
	font-size: 22px;
}

.eParMoreList{
/* 	border: 1px solid red;
 */}

/* 함께하고 있어요 swiper  */
.swiper-container {
    width: 80%;
    height:100%; 
    margin-top: 16px;
    
    
    
 }

 .swiper-slide { 
   
     display: flex;
     text-align:center; 
     flex-direction: column;
      justify-content: center;
     align-items:center;
     width: 70px;
     

  }
 .swiper-slide div {
     /* height: 380px; */
     /* width: 550px; */
    /* box-shadow:0 0 5px #555; */
    max-width:100%; 
    /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */ 
    /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다.*/
 }


.edDoPerImg{
    width: 70px;
    height: 70px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.edDoPerImg > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.edPersonName{
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #767676;
    margin-top: 2px;
}





/* 다시 event Detail.jsp  */
.event_btn_container{

	/* margin-top: 100px; */
}

.edWrapBox {
	/* border: 2px solid gray; */
}

.edBtn{
	
	
    display: flex;
/*     align-items: flex-end; */
    justify-content: center;
    top: 560px;
    width: 100%;
    
    margin-top: 36px;
  
}






.edStampBtn{
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
  /*   margin-top: 15px;
    margin-left: 50px; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9D9D9;
    cursor: pointer;

}

.edStampBtn > span{
    font-size: 20px;
}



/*참여하고 스템프 받아요! 문구  */
.edStampPopup{
		position: relative;
		border: 1px solid transparent;
}

.edStampPopDe {
		position: absolute;

	background: #4b4b4b;
	border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 130px;
    left: 150px;
    /* border: 1px solid #9D9D9D; */
}

.edStampPopDe:after {
	content: '';
position: absolute;
	bottom: 0;
	left: 80%;
	width: 0;
	height: 0;
	border: 13px solid transparent;
	border-top-color: #4b4b4b;
	border-bottom: 0;
	margin-left: -20px;
	margin-bottom: -9px;
}

.edStampPopDe > span{
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
}

.edStamp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.elist_official{
	
    /* background-color: yellowgreen; */
    overflow: hidden;
    display: flex;
    /* width: 1050px; */
}

.elist_official_li{
    background-color:#f7f7f7;
    width: 200px;
    height: 100%;
    border-radius: 20px;
    margin-right: 15px;
    

    display: flex;
      display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
   /* border: 1px solid orange; */
   position: relative;
}


.earea_thumb_period_go{
	
	position: absolute;
	/* border: 1px solid green; */
	
	z-index: 50;

    background-color: #00CA61;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 75px;
    bottom: 173px;
} 


.earea_thumb{
	
	/* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 함께해요 버튼 */
  .memberChange_bottom button{
    border: none; 
    font-family: 'NanumSquareNeo';
    font-size: 16px;
    font-weight: 500;
  
  
    background-color: var(--etcColor); 
    width: 150px;
    height: 46px;
    
  
    color : #FFFFFF;
    border-radius: 100px;
    cursor: pointer;
    margin-right: 4px;
  
/*    margin-top: 24px;
 */  }

.memberChange_bottom button:hover{
  background-color: var(--mainColor);
  font-weight: 600;
}    










.edDoTo{
    margin-top: 17px;
}

.edDoTitle > span{
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #4D4D4D;
}



/* .edDoPersonUl{
    display: flex;
} */
/* 
.edDoPersonLi{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */




/* 


.edBtnDe{
    width: 161px;
    height: 41px;
    background-color: #00CA61;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

#popupButton{
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
} */


/* .memberChange_bottom{

    width: 100%;
  } */
  








/* ------------카테고리------------ */
.edDetail{
    display: flex;
    margin-top: 20px;
}

.edDetailLeft{
    width: 813px;
    /* background-color: yellowgreen; */
}

.edCategory{

    display: flex;
    /* background-color: yellow; */
    border-bottom: 1px solid #D9D9D9;
    align-items: center;
    height: 50px;
}

.edCategoryWidth{

	
	
	
    width: 200px;
    display: flex;
    /* background-color: wheat; */
    height: 50px;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}


/* ------------카테고리 변경 시마다 색 변경하기----------- */
.edEventintro:nth-child(1){
    border-bottom: 2px solid #00CA61;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.edEventintro:nth-child(1) > a > span{
    color: #00CA61;
}

.edEventintro > a > span{
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: var(--contentColor);
}


/* ----------본문---------- */
.edDetailWrap{
    margin-top: 20px;
    width: 100%;
    /* background-color: yellow; */
}

.edDetailWrite{
    /* background-color: wheat; */
    max-width: 800px;
    overflow: hidden;
    /* height: 1000px; */
}


/* -----------오른쪽 영역-------------- */


/* eventDetailMore 파일!!!!!  */
.edDetailRight{
    /* background-color: yellowgreen; */
    margin-top: 50px;
    margin-left: 30px;
    padding: 16px;
}


.edHowto{
}


.edHowtoTitle{
	font-family: 'NanumSquareNeo';
    font-size: 16px;
    font-weight: 600;
}

.edHowtoBox{
	padding: 16px;

    width: 347px;
    background: #F0F0F0;
    border-radius: 12px;
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
   /*  justify-content: center; */
    flex-direction: column;
    
    
}

.edHowtoTi{
    /* margin-top: 10px;
    margin-right: 260px;
    margin-bottom: 4px; */
}

.edHowtoTi > span{
    font-family: 'NanumSquareNeo';/* 
    font-style: normal; */
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: #00CA61;
}

.edHowtoDetail{
    /* background-color: yellow; */
   
   
   
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 10px;
    
}

.edHowtoDetail > span{
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.025em;
    color: #767676;
}



/* ------------인증 fixed 된 바(사진)------------ */
.edInBar{
    /* background-color: yellow; */
    position: sticky;
    height: 420px;
    width: 350px;
    display: flex;
    flex-direction: column;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
    background-color: white;
    top: 400px;
    margin-top: 20px;
}

.edInBarBox{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edInTitle{
    /* background-color: wheat; */
    margin-bottom: 15px;
}

.edInTitle > span{
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #000000;
}

.edInPhotoBarUl{
    display: flex;
    width: 320px;
    max-height: 280px;
    background-color: rgb(238, 238, 238);
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 12px;
}

.edInPhotoBarLi{
    margin-right: 5px;
}

.edInPhotoImg > img{
    width: 75px;
    height: 75px;
}

.edInBarBox > a > .edBtnDe{
    margin-top: 12px;
}

.noEvent{
    font-size: 16px;
    font-weight: 500px;
    color : #767676;
    margin-top: 30px;
}





/* --------------더보기-------------- */
.eMoreWrap{
    margin-top: 200px;
    /* background-color: yellowgreen; */
}

.eMoreTitle > span{
    font-size: 18px;
    font-weight: 600;
    color: #767676;
    font-family: 'NanumSquare';
}

.eMoreTitle{
    margin-bottom: 20px;
}

.elist_official_li{
    background-color:#f7f7f7;
    width: 200px;
    height: 270px;
    border-radius: 20px;
    margin-right: 15px;
}

.elist_official{
    /* background-color: yellowgreen; */
    overflow: hidden;
    display: flex;
    /* width: 1050px; */
}

.earea_thumb{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 진행중 */
.earea_thumb_period_go{
    background-color: #00CA61;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 75px;
    bottom: 173px;
}

.earea_thumb_period > span{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #FFFFFF;
}

.earea_thumb_period_end > span{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #FFFFFF;
}

.earea_thumb_period_go > span{
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #FFFFFF;
}

.earea_thumb > img{
    width: 170.57px;
    height: 176.43px;
    border-radius: 20px;
    margin-top: 16px;
}

.etxt_official{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgb(95, 119, 47); */
    width: 200px;
    position: relative;
    bottom: 30px;
}

.etxt_officialTi{
    width: 200px;
    max-height: 45px;
    /* background-color: yellow; */
    display: flex;
    overflow: hidden;
}

.etxt_officialTi > span{
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    /* identical to box height */
    
    text-align: center;
    letter-spacing: -0.05em;
    
    color: #4D4D4D;
}

.escrean_out{
    color: #9D9D9D;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.ereg{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: yellowgreen; */
    width: 224px;
    height: 43px;
    position: relative;
    bottom: 15px;
    border-top: 1px solid #D9D9D9;
}

.elink_official{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* 더보기 버튼 */
.eMoreBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eMoreBtn{
    /* background-color: yellowgreen; */
}

.eMoreBtnBox{
    background-color: #00CA61;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    padding: 30px;
}

.eMoreBtnBox > span:nth-child(1){
    margin-right: 8px;
}

.eMoreBtnBox > span{
    font-weight: 600;
    font-size: 16px;
    font-family: 'NanumSquareNeo';
    font-style: normal;
}

.eMoreBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71%;
    margin-top: 20px;
}

.eMoreList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

.relatedItemListButtonArea {
    height: 279px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

#prev, #next {
    width: 24px;
    height: 24px;
    border: none;
    /* border: 2px solid #8071FC; */
    border-radius: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    cursor: pointer;
}


/*==============================================*/


.progressArea {
    background-color: #eefce7;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 340px;
}

.progressInfo {
    display: flex;
    justify-content: space-between;
}

.progressPercentage {
    color: #00CA61;
    font-weight: bold;
    font-size: 18px;
}

.goal {
    color: #767676;
    font-size: 12px;
    font-weight: 600;
}

.progressBar {
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color: white;
    margin: 10px 0px;
}

.progressBarValue {

background: linear-gradient(to top, #61fbc2 50%, #00CA61);

    border-radius: 30px;

    width: 50%;
    height: 100%;
}

.progressStatus {
    display: flex;
}

.progressStatus > span {
    color: #767676;
    font-size: 14px;
    font-weight: bolder;
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.progressStatus > span > img {
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.progressStatus > span > span {
    font-size: 14px;
}


/* 프로필 이미지 슬라이드(eventParticiMore)===================================== */

.eParMoreTitle{
    margin: 30px 0px;
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #767676;
}

.edDoPersonLi{
    width: 100%;
    height: 110px;
    border-radius: 20px;
    /* border: solid 2px yellow; */

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    font-size: 18px;
    color:#767676;
    font-weight: 500;
    margin-left: 10px;
}

.edDoPersonUl{
    overflow: hidden;
    display: flex;
    /* width: 500px; */
    /* border : solid 1px blue */
}


/* .eParMoreList{
    
    align-items: center;
    justify-content: center;
    width: 340px;
    height: 100px;
   
} */

.edDoPerImg{
    width: 70px;
    height: 70px;
    background: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 50%;
}

.edDoPerImg > img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.edPersonName{
    font-family: 'NanumSquareNeo';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #767676;
    margin-top: 10px;
}


.swiper-container {
    width: 280px;
    height:150px; 
    /* border:1px solid silver; */
    border-radius:7px; 
    margin-top: 30px;
    
    
 }


 .swiper-slide { 
   
      display: flex;
     text-align:center; 
     flex-direction: column;
     justify-content: center;
     align-items: center;
      

  }
 .swiper-slide div {
     /* height: 380px; */
     /* width: 550px; */
    /* box-shadow:0 0 5px #555; */
    max-width:100%; 
    /* 이미지 최대너비를 제한, 슬라이드에 이미지가 여러개가 보여질때 필요 */ 
    /* 이 예제에서 필요해서 설정했습니다. 상황에따라 다를 수 있습니다.*/
 }

 .swiper-wrapper{
    
 }

.do_next_prev_btn1{
    position: absolute;
    left: 832px;
    top: 428px;
    width: 350px;
    height: 50px;
    z-index: 100;
}
 
.do_next_prev_btn1 span {
    text-align: center;
    position: absolute;
    cursor: pointer;
}

.do_next{
    right: 0%;
    /* background-image: none;    */
}
.do_prev{
    left: 0%;
    /* background-image: none; */
}
.do_prev img,
.do_next img{
    width : 20px;
    height : 20px;
}

.swiper-button-prev1{
    background-image: none;
}
.swiper-button-next1{
    background-image: none;
}


/*--이벤트디테일보드의 eventStickerBar*/
.do_next_prev_btn2{
    position: absolute;
    top: 145px;
    right: 3px;
    width: 340px;
    height: 50px;
    z-index: 100;
}

.do_next_prev_btn2 span {
    text-align: center;
    position: absolute;
    cursor: pointer;
}


.swiper-button-prev2{
    background-image: none;
}
.swiper-button-next2{
    background-image: none;
}

.second{
    display: flex;
    height : 300px;
    width : 200px;
    border : 3px solid yellow;
}

