@import url('https://webfontworld.github.io/naver/NanumSquare.css');
@import url('https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css');

@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');
*{
     box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
}

body{
    margin: 0;
    background-color: white;
    color: #000;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
}

:root{
  --mainColor: #00CA61;
  --titleColor: #252525;
  --redColor: #FF5D5E;
  --contentColor: #767676;
  --etcColor: #d9d9d9;
  --mainSubColor:#cfebdc;
}

a{
    text-decoration: none;
    color: #000;
}

.mainCategoryArea {
  background-color: var(--mainColor);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCategoryInner {
     display: flex;
    align-items: center;
}

.mainCategoryItem {
    font-family: 'NanumSquareNeo';
    font-size: 16px;
    font-weight: 600;
    color: var(--mainSubColor);

    padding: 4px 12px;
    margin-inline: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.mainCategoryChecked {
     font-family: 'NanumSquareNeo';
    height: 40px;
    line-height: 30px;
    font-size: 16px;
    background-color: #fff;
    color: var(--mainColor);
}

/* section mainContainer */
.mainContainer{
border: 1px solid red;

	padding: 24px;
    height: fit-content;

    display: flex;
    justify-content: center;
}

.mainContent{
/* 	border: 2px solid blue; */
    width: 1200px;
    height: fit-content;
}

.infoArea {
	/* border: 1px solid green; */
    position: relative;
    height: 472px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
}

.thumbnail {
/* 	border: 1px solid hotpink; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
	
	/* border: 1px solid red; */
	
    position: absolute;
    top: 20px;
    right: 20px;
    width: 384px;
    height: 399px;
    background-color: #fff;
    border-radius: 20px;
    padding-top: 38px;
    overflow: hidden;
    
   display: flex;
    flex-direction: column;
  /*   justify-content: center; */
    align-items: center;
}

.info .tag {
	/* border: 1px solid blue; */
    margin-inline: 20px;
}


.hot {
	font-family: 'NanumSquareNeo';
	font-size: 16px;
	font-weight: 600;
	
    background-color: #FA5555;
    border-radius: 20px;
    color: white;
    padding: 4px 12px;
    
}

.d-day {
	font-family: 'NanumSquareNeo';
	font-size: 16px;
	font-weight: 600;
	
    background-color: #00CA61;
    border-radius: 20px;
    color: white;
    padding: 4px 12px;
}

.d-day > span {
    font-size: inherit;
}

.title {
	
	font-family: 'NanumSquareNeo';
	font-size: 28px;
	font-weight: 700;
	
    line-height: 42px;
    margin-block: 10px;
   	margin-bottom: 20px;
    border: 1px solid green;
}

.progressArea {
/* 	border: 1px solid blue; */
	width: 90%;
	height: 95px;
	
    background-color: #F0EFF9;
    border-radius: 20px;
    padding: 14px 20px;
    margin-bottom: 10px;
}

.progressInfo {
	/* border: 1px solid green; */
	
	
    display: flex;
    justify-content: space-between;
    align-items: center;
    
/*     margin-top: 10px; */
    margin-bottom: 10px;
}

.progressPercentage {
	font-family: 'NanumSquareNeo';
    color: #00CA61;
    font-weight: 700;
    font-size: 18px;
}

.goal {
	font-family: 'NanumSquareNeo';
    color: #767676;
    font-size: 14px;
    font-weight: 600;
}

.progressBar {
	/* border: 1px solid red; */
    width: 100%;
    height: 10px;
    border-radius: 50px;
    background-color: white;
    
    margin-bottom: 10px;
}

.progressBarValue {
    background: linear-gradient(to top, #00CA61; 50%, #574da1);
    border-radius: 30px;

    width: 50%;
    height: 100%;
}

.progressStatus {
    display: flex;
}

.progressStatus > span {
	font-family: 'NanumSquareNeo';
   	color: var( --contentColor);
    font-size: 14px;
    font-weight: 600;
    margin-right: 14px;
    display: flex;
    align-items: center;
}

.progressStatus > span > img {
    width: 18px;
    height: 18px;
    margin-right: 4px;
   color: var( --contentColor);
}

.progressStatus > span > span {
    font-size: 14px;
}

.description {
	/* border: 1px solid red; */
	padding: 6px 20px;
	font-family: 'NanumSquareNeo';
    color: #767676;
   /*  padding-inline: 16px; */
	font-weight: 500;
    line-height: 24px;
}

.donationButton {
	
	font-family: 'NanumSquareNeo';
    background-color: #00CA61;
    color: white;
    font-size: 18px;
    font-weight: 600;
    width: 100%;
    padding-block: 20px;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    border:none;
}

/*  */

.contentArea {
	border: 1px solid red;
    display: flex;
}

.content {
	border: 1px solid blue;
	
	font-family: 'NanumSquareNeo';
	font-size: 16px;
	font-weight: 500;
    line-height: 24px;
	
    width: 67%;
    margin-right: 3%;
}

.content > img {
    width: 100%;
    height: 470px;
}


.imageDescription {

    text-align: center;
    color: #767676;
}

/*  */

.nav {
	border: 1px solid green;
    width: 30%;
}

.nav .agencyInfoArea {

    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
}

.nav .agencyInfoArea .agencyInfo {
	
	border: 1px solid red;
	
    display: flex;
    margin-bottom: 10px;
    height: 50px;
}

.agencyImg {
	border: 1px solid red;
	
	display: flex;
	 justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding-bottom: 10px;
}

.division {
    font-size: 14px;
    color: #7A7A7A;
    margin-top: 5px;
}

.agencyName {
	font-family: 'NanumSquareNeo';
	font-size: 18px;
	font-weight: 700;
	
   
}

.agencyDescription {
	font-family: 'NanumSquareNeo';
    font-size: 14px;
    color: #7A7A7A;
   font-weight: 500;
   line-height: 20px;
   
   margin-top: 5px;
   margin-bottom: 8px;
  
}

.agencyLink {
	font-family: 'NanumSquareNeo';
	font-weight: 600;
	
    width: fit-content;
    font-size: 14px;
    color: #00CA61;
/*     border-bottom: 2px solid #00CA61; */
    display: flex;
    align-items: center;
}

.agencyLinkImg {
    margin-left: 4px;
    width:10px;
    height: 12px;
    color: var(--mainColor);
}

.commentArea {
    border: 1px solid #D9D9D9;
    border-radius: 20px;
    padding: 20px;
}

.commentTitleImg {
    width: 18px;
    height: 18px;
    color: var(--contentColor);
    margin-right: 4px;
    
}

.commentArea .first_commetArea_div{
	font-family: 'NanumSquareNeo';
	font-size: 16px;
	font-weight: 600;
	display: flex;
    align-content: center;
    
	
}
/*  */

.commentInner{
	border: 1px solid skyblue;
	
}

.commentInner .memberName{
	font-family: 'NanumSquareNeo';
	font-size: 16px;
	font-weight: 600;
	border: 1px solid orange;
	margin-bottom: 4px;
	color: var(--titleColor);
	
}

.commentItem {
	border: 1px solid blue;
	
 	font-family: 'NanumSquareNeo';
	
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    background-color: #F0EFF9;
    display: flex;
    margin-bottom: 8px;
    color: var(--contentColor);
}

.memberImgArea {
	
	border: 1px solid red;
	
    border-radius: 100%;
    background-color: #D9D9D9;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memberImg {
    width: 80%;
    height: 80%;
}

.memberName {
    font-size: 12px;
    color: #767676;
    font-weight: bolder;
}

.commentSubmit {
	 font-family: 'NanumSquareNeo';
	
    width: 100%;
    background-color: #00CA61;
    border-radius: 100px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    padding-block: 16px;
    margin-bottom: 8px;
    cursor: pointer;
    border: none;
    
    margin-bottom: 10px;
    margin-top: 10px;
}

.commentInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.commentInfo > * {
	
 font-family: 'NanumSquareNeo';
	
    font-size: 14px;
    color: #767676;500;
}

.commentInfo .commentCount:after{
	content:'|';
	color: var(--etcColor);
	margin: 4px;
}

.commentInfo > img {
    width: 14px;
    height: 14px;
    margin-right: 6px;
}


.modify_tag{
	border: 1px solid blue;

/*  */

.relatedAreaInner {
    display: flex;
}

.relatedArea >span:first-child {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 18px;
}

.relatedItemList {
    width: 749px;
}

.relatedImg {
    width: 239px;
    height: 239px;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 4px;
}

.relatedItemTitle {
    font-size: 14px;
    font-weight: bolder;
    text-align: center;
}

.relatedItemStatus {
    display: flex;
    justify-content: center;
}

.relatedItemStatus > span {
    display: flex;
    align-items: center;
    margin-right: 14px;
}

.relatedItemStatus span {
    font-size: 12px;
    color: #767676;
}

.relatedItemStatus > span > img {
    width: 12px;
    height: 12px;
    margin-right: 4px;
}

#prev, #next {
    width: 24px;
    height: 24px;
    border: 2px solid #00CA61;
    border-radius: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: unset;
    cursor: pointer;
}

.relatedItemListButtonArea {
    height: 279px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.grayBox {
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.5);
    z-index: 999;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.donationContainer {
    width: 800px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.donationContainer > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.donationContainer > div:first-child {
    font-weight: bold;
    margin-bottom: 50px;
    font-size: 24px;
}

#donationValue {
    width: 250px;
    height: 50px;
    background-color: white;
    outline: none;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-right: 20px;
}

#donationConfirm {
    width: fit-content;
    height: 50px;
    background-color: #00CA61;
    border-radius: 20px;
    padding: 10px;
    color: white;
}

.closeButtonArea {
    display: flex;
    justify-content: right;
}

.closeButton {
    font-size: 24px;
    cursor: pointer;
    transition-duration: 250ms;
}