/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */

@import url('https://webfontworld.github.io/naver/NanumSquare.css');
*{
  box-sizing: border-box;
  font-family: 'NanumSquare', sans-serif;
}

  body{
    margin: 0;
    background-color: white;
    color: #000;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
}
.mainContainer {
  
  height: 100vh;
  display: flex;
  justify-content: center;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'NanumSquare', sans-serif;
}

.mainContent {
  width: 1080px;
 
}

.page-title {
    margin-bottom: 100px;
  
    background-color: #8071FC ;
  
   
    width: 100%;
    height: 80px;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .page-title span {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-align: center;
    /* font-family: 'Noto Sans KR', sans-serif;*/
     font-family: 'NanumSquare', sans-serif; 
  }
  .container1{
    padding-bottom: 20px;
    border-bottom: 2px solid #767676;
    }
    
    .container1 span {
      font-size: 24px;
      font-weight: bold;
      /* font-family: 'Noto Sans KR', sans-serif; */
      font-family: 'NanumSquare', sans-serif;
    }
    .notice {
        margin-bottom: 40px;
      }
.title-date-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #767676;
}
.title-date-container div{
   margin: 40px 7px;
    text-align: center;
    font-size: 22px;
      font-weight: bold;
      /* font-family: 'Noto Sans KR', sans-serif; */
      font-family: 'NanumSquare', sans-serif;
      color: #767676;
}
.detailContent{
    margin: 20px 7px;
    
    font-size: 18px;
      font-weight: bold;
      /* font-family: 'Noto Sans KR', sans-serif; */
      font-family: 'NanumSquare', sans-serif;
      color: #767676;

      padding-bottom: 40px;
      border-bottom: #767676 1px solid;
}

.nextContentContainer{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: solid 1px #767676 ;
        
}
.next{
    margin: 0 30px;
   margin-right: 100px;
    font-size: 18px;
    font-weight: bold;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'NanumSquare', sans-serif;
    color: black;
}
.nextDate{
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'NanumSquare', sans-serif;
    color: #767676;
}

a{text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    /* font-family: 'Noto Sans KR', sans-serif; */
    font-family: 'NanumSquare', sans-serif;
    color: #767676;
}



.submitContainer{
   
  margin-top: 20px;
  padding-top: 20px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.listBack{
  margin-right: auto;
  
}

.submitContainer button{
  width: 98px;
  height: 38px;
  border-radius: 5px;
  border: 1px solid #BDBDBD;
  color: #767676;
  text-align: center;
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'NanumSquare', sans-serif;
  justify-content: center;
  margin-left: 12px;

  cursor: pointer;
}