@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

.mainContainer {
  border: 1px solid pink;
  height: 80vh;
  display: flex;
  justify-content: center;
}

.mainContent {
  width: 1200px;
 
}

section.notice {
  padding: 80px 0;
}

.page-title {
  margin-bottom: 60px;
  text-align: center;
}

.page-title img {
  width: 300px;
  height: 60px;
}

.search-area {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 30px;
  margin-top: 20px;
}
.container1{
margin-left: 20px;
}

.container1 h3 {
  font-size: 24px;
  font-weight: bold;
}

.board {
  margin-bottom: 40px;
}

.write-btn{
  border-radius: 5px;

}

.container2 {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.search-area form {
  display: flex;
  align-items: center;
}

.search-area input[type="text"] {
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

#board-list {
  margin-top: 40px;
}

.container3 {
  padding: 0 20px;
}

.board-table {
  width: 100%;
  border-collapse: collapse;
}

.board-table a{
    text-decoration: none;
    color: black;
}

.board-table th,
.board-table td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: center;
}

.board-table th {
  background-color: #f2f2f2;
}

.th-num,
.th-date {
  width: 100px;
  text-align: center;
}

.th-title {
  width: 800px;
}

.page-nav {
  margin-top: 20px;
  text-align: center;
}

.pagination {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  display: inline;
}

.pagination li a {
  color: #000;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination li a:hover {
  background-color: #f2f2f2;
}
