/*상단 나의 문의내역 */
.page-title {
  
  background-color: var(--mainColor);


  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title span {
  font-weight: 600;
  font-size: 22px;
  color: white;
  text-align: center;
  font-family: 'NanumSquareNeo';
}

/*title 아래 전체 container*/
.mypage-container {

  display: flex;
  justify-content: center;
}

/*title 아래 전체 container 중 width 1200px*/
.mypage_wrapper {

  width: 1200px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);


}




/*------------------body-content------------------*/
/* 오른쪽 문의한 내역*/




.memberChange_content_area {
  width : 75%;
  background-color: #f6f6f6;

  display: flex;
  align-items: center;
  flex-direction: column;


}



.memberChange_mainContainer {

  width: 90%;
  /* height: 780px; */

  margin :  66px 30px;

  display: flex;
  justify-content: center;
  background: #FFFFFF;
  border: 1px solid var(--etcColor);
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); */
  border-radius: 20px;
  padding: 24px 30px;

}

.memberChange_mainContainer .memberChange_mainContent {

  width: 100%;
  height: 100%;
  
}


.memberChange_notice {
  /* margin : 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}




.memberChange_container1 {
  /* margin-bottom: 10px;
  padding-top: 20px;
  font-size: 20px;
  font-weight: 500; */

  margin-top: 10px;
  margin-bottom: 12px;
  padding: 12px;
  

}

.memberChange_container1 span {
  font-family: 'NanumSquareNeo';
  font-size: 16px;
  font-weight: 500;

}

.memberChange_container1 span:nth-child(1){
  font-weight: 600;
}

/* 공통 */
.memberChange_title{
  margin : 10px;
  display: flex;
  flex-direction: row;

  /* font-family: 'NanumSquareNeo'; */
  /* font-weight: 400;
  font-size: 16px; */
}

/* 아이디 */
.memberChange_con1{
  font-family: 'NanumSquareNeo';

  color : #828282;
  font-weight: 600;
  font-size: 16px;
  
  display: flex;
  align-items: center;
  
  width: 130px;
}

.memberChange_con2,
.memberChange_con3{
  font-family: 'NanumSquareNeo';
  font-weight: 500;
  color: var(--titleColor);
  font-size: 16px;

  background-color: #f2f2f2;
  border-radius: 5px;
  
  display: flex;
  align-items: center;

 
}

.memberChange_con2,
.memberChange_con3:not(.notAddress){
  width : 500px;
  height : 50px;

}

.notAddress{
  width: 400px;
  height: 50px;
  
}

.memberChange_con2 div{
  margin-left: 20px;
}



input:not(.notInput){
  display: flex;
  align-items: center;

  background-color: #efefef;
  border: none;
  width : 300px;
  height : 30px;
  margin-left: 20px;
  
  font-family: 'NanumSquareNeo';
  font-size: 16px;
  font-weight: 6 00;
  color: var(--mainColor); 
  
}

input:focus{
  outline: none;  
}

input::placeholder {
  color: #A9A9A9; 
  font-family: 'NanumSquareNeo';
  font-weight: 500;
  font-size: 14px;
}

.memberChange_title input[type="button"] {

  border: none; 
  font-family: 'NanumSquareNeo';
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor); 
  width: 90px;
  height: 48px;

  color : #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  

}

.memberChange_bottom{

  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  /* margin-left: 202px;
  margin-right: 20px; */
}

.memberChange_bottom button:not(.memberChange_w){
  border: none; 
  font-family: 'NanumSquareNeo';
  font-size: 16px;
  font-weight: 500;


  background-color: var(--etcColor); 
  width: 120px;
  height: 46px;
  

  color : #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}


.memberChange_bottom div:nth-child(1){
  margin-bottom: 40px;
}
.memberChange_b {
  border: none; 
  background-color: var(--mainColor); 
  border-radius: 5px;
  width: 100px;
  height: 50px;

  color : #FFFFFF;
  cursor: pointer;
  margin-right: 20px;
}

.memberChange_b1{
  width: 100px;
  height: 50px;

  color : #FFFFFF;
  cursor: pointer;
}

.memberChange_w_c{
  color: #A9A9A9; 
  font-family: 'NanumSquareNeo';
  font-weight: 500;
  font-size: 14px;
  margin-left: 24px;
}

.memberChange_w{
  border: none; 

  background-color: var(--etcColor); 
  border-radius: 10px;
  width: 75px;
  height: 25px;
  
  border-radius: 5px;
  cursor: pointer;

}

.memberChange_w a {
  outline : none;
  font-family: 'NanumSquareNeo';
  font-weight: 500;
  font-size: 14px;
  color : #FFFFFF;
}


.memberChange_bottom button:hover{
  background-color: var(--mainColor);
  font-weight: 600;
}

.messageContainer{
  display: flex;
  text-align: center;

  width: 100%;
  padding-left: 140px;
}


.messageContainer span{
  font-family: 'NanumSquareNeo';
  font-size: 14px;
  color: var(--contentColor);
  margin-bottom: 10px;


}

/*  */


.adderess_first{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
}
.add_style{
  width: 130px;

 
}



.addr_container_2{
  padding-left: 130px;
}

.addr_container_2 div{
  margin-bottom: 12px;
}

.memberChange_con2:not(.notAddress){
  display: flex;
}

.notInput{
  border: none; 
  font-family: 'NanumSquareNeo';
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mainColor); 
  width: 90px;
  height: 48px;

  color : #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
}


.memberChange_address{
  margin-left: 10px;
}


