@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

a{
  text-decoration: none;
}


body {
  margin: 0;
  background-color: white;
  color: #000;
  line-height: 1.6em;

  display: flex;
  flex-direction: column;
}



:root{
  --mainColor: #00CA61;
  --titleColor: #252525;
  --redColor: #FF5D5E;
  --contentColor: #767676;
  --etcColor: #d9d9d9;
}



/*상단 메뉴 title */
.page-title {
  
  background-color: var(--mainColor);


  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  position: relative;
  z-index: 10;
}

.page-title span {
  font-weight: 600;
  font-size: 22px;
  color: white;
  text-align: center;
  font-family: 'NanumSquareNeo';
}

/*title 아래 전체 container*/
.mypage-container {

  display: flex;
  justify-content: center;
}

/*title 아래 전체 container 중 width 1200px*/
.mypage_wrapper {

  width: 1200px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);


}





/*===========================================*/
/*------------------body-content------------------*/
/* 오른쪽 문의한 내역*/


.menu_box_container{
  width : 75%;
  background-color: #f6f6f6;

  display: flex;
  flex-direction: column;
  align-items: center;
}



.mainContainer {
  width: 90%;
  /* height: 780px; */

  margin :  66px 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #FFFFFF;
  border: 1px  
  solid var(--etcColor);

  border: 2px solid skyblue;
  border-radius: 20px;
  padding: 24px 30px;

  
}

.mainContent{
  /* border: 1px solid purple; */
  width: 100%;
}


.notice1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* border: 1px solid red; */
}

.container1{
  margin-top: 10px;
  margin-bottom: 12px;
  padding: 12px 20px 0px 20px;
  /* border: 2px solid green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}



.container1 span{
  font-family: 'NanumSquareNeo';
  font-size: 16px;
  font-weight: 500;
}

.container1 span:nth-child(1){
  font-weight: 600;
}

/* 내용부분 */

 /* 공통 폰트 스타일 */
 .title_style div .select_aTag,
 .active_contatiner div:nth-child(1),
 .active_contatiner .search_area span input::placeholder,
 .notice_table thead tr th,
 .notice_table tbody tr th div {
   font-family: 'NanumSquareNeo';
   font-size: 14px;
   font-weight: 500;
   color: var(--contentColor);
 
 }

 .active_contatiner .search_area span input::placeholder{
  font-size: 12px;
  color: var(--etcColor);
}

.notice_table thead tr th{
  font-size: 16px;
}

.notice_table tbody tr th div{
  font-size: 18px;
  font-weight: 500;
}
/* --------------------------------------- */

.container2{
  display: flex;
  flex-direction: row;
  margin-top: 50px;

  justify-content: space-between;

  width: 100%;
  /* border: 1px solid orange; */

}

.container2_title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.active_title_name div:after{
  content: '|';
  color: var(--etcColor);
  font-weight: 500;
  margin-right: 4px;
}

.active_contatiner{
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 60%;
  /* border: 1px solid coral; */


}

.active_contatiner .query_result{
  margin-right: 8px;
/*   width: 50%;
 */
  /* border: 1px solid cadetblue; */

  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.active_contatiner .query_result span{
  font-family: 'NanumSquareNeo';
  font-size: 14px;
  font-weight: 600;
  color: var(--mainColor);
  padding: 2px;

}
.active_contatiner .search_area{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px ;
  justify-content: flex-end;
  
  width: 229px;
  height: 100%;
  position: relative;

 padding: 4px;
  border: 1px solid var(--etcColor);

}

.active_contatiner .search_area div:nth-child(1){
  position: absolute;
  left: 0;
}

.active_contatiner .search_area div:nth-child(1) select{
  height: 100%;
  border-radius: 4px;
  border: transparent;
  padding: 5px 2px;
  text-align: center;

  font-family: 'NanumSquareNeo';
  font-size: 12px;
  font-weight: 600;
  color: var(--contentColor);
  margin-left: 4px;
 
  outline: var(--etcColor);
}



.active_contatiner .search_area span{
  border: transparent;
  display: flex;
  justify-content: flex-end;
  width: 165px;
  border-radius: 4px;
  padding: 2px;

}
.active_contatiner .search_area span input{
  width: 100%;
  padding: 3px;
  border: transparent;

 
}

.active_contatiner .search_area span button{
  margin-right: 3px;
  border: transparent;
  background-color: transparent;
  color: var(--etcColor);
}

.search_field:before{
  content: '|';
  text-align: center;
  margin-top: 4px;
  margin-right: 2px;
  font-size: 12px;
  color: var(--etcColor);
}

.click_hover a:hover{
	color: var(--mainColor);
	 font-weight: 600;
}

.notice_table tbody tr td:nth-child(2) a:hover{
	color: var(--mainColor);
	 font-weight: 700;
}


/* ----------------------------- */

.notice_box_container_content{
  /* border: 2px solid rgb(9, 128, 207); */
}

.notice_index_container{
  /* border: 1px solid hotpink; */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.notice_table{
  /* border: 2px solid skyblue; */
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;
  padding: 12px 20px 0px 20px;

}

.notice_table thead{
  /* border: 1px solid brown; */
  width: 100%;
  display: flex;
  justify-content: space-around;


}

.notice_table thead tr th{
  /* border: 1px solid green; */
  padding: 16px 0px;
  border-top: 2px solid var(--etcColor);
  border-bottom: 1px solid var(--etcColor);
}

.th_num{
  width: 50px;
}

.th_name{
  width: 550px;
}

.th-date{
  width: 200px;
}




.notice_table tbody{
  height: 90%;
  width: 100%;
  /* border: 2px solid peru; */
  display: flex;
 /*  align-items: center; */
  flex-direction: column;
}

.notice_table tbody tr{
/*   border: 1px solid green; */
/*   width: 100%; */

  margin-top: 16px;
}

.notice_table tbody tr td{
  text-align: center;
/*   border: 1px solid red; */
}

.notice_table tbody > tr > th {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  font-weight: 500;
     font-size: 18px;
     line-height: 22px;
     color: var(--contentColor);
  
 }

/* 
.notice_table tbody tr td:nth-child(1){
  color: var(--etcColor);
  font-family: 'NanumSquareNeo';
  font-size: 14px;
  font-weight: 600;
  font-weight: 500;
  width: 50px;
  
 
}

.notice_table tbody tr td:nth-child(2){
  width: 350px;
  
} */



.notice_table tbody tr td:nth-child(2) a{
  color: var(--titleColor);
  font-family: 'NanumSquareNeo';
  font-weight: 600;}
 
/* }
.notice_table tbody tr td:nth-child(3),
.notice_table tbody tr td:nth-child(4){
  color: var(--titleColor);
  font-family: 'NanumSquareNeo';
  font-weight: 500;

} */

/* .notice_table tbody tr td:nth-child(5) a{
  font-weight: 500;
} */
/* 
.notice_table tbody tr td:nth-child(3){
 width: 180px;
 
}
.notice_table tbody tr td:nth-child(4){
	width: 120px;
}
 */



/* 페이지 네이션 */
.container4{

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.page-nav {
 justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;

  border: 1px solid blue;
  width: 50%;
  
}

.pagination {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;

  
}

.pagination li {
  display: inline;
  
  

 
}

.pagination li a {
  color: var(--contentColor);
  font-family: 'NanumSquareNeo';
   font-size: 14px;
   font-weight: 500;

  margin-left: 10px;
  text-decoration: none;
  transition: background-color 0.3s;
  transition: color 0.3s;
  font-weight: 400;
  
  
  
}

.pagination .current{
/*   background-color: var(--mainColor); */
  /* color: var(--titleColor); */

  height: 24px; 
  border-radius: 50px;
  font-family: 'NanumSquareNeo';


   }
   
   .pagination .current:hover,
    .pagination li:nth-child(1) a:hover,
   .pagination li:nth-child(2) a:hover,
   .pagination li:nth-child(4) a:hover,
   .pagination li:nth-child(5) a:hover{
   color: var(--etcColor);
   cursor: pointer;
   color: var(--mainColor);
   font-weight: 600;
   }
   
   .pagination li:nth-child(1) a,
   .pagination li:nth-child(2) a,
   .pagination li:nth-child(4) a,
   .pagination li:nth-child(5) a{
   color: var(--etcColor);
   }
   
   
