@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');



*{
    box-sizing: border-box;
    padding : 0px;
    margin : 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


body{
  margin: 0;
  background-color: white;
  color: #000;
  line-height: 1.6em;

  display: flex;
  flex-direction: column;
}

/*상단 나의 문의내역 */
.page-title {
  background-color: #8071FC ;
 
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title span {
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

/*title 아래 전체 container*/
.mypage-container{    
  display: flex;
  justify-content: center;
}

/*title 아래 전체 container 중 width 1200px*/
.mypage_wrapper{
    width: 1200px;
    display: flex;
    flex-direction: row;   
}



/*===========================================*/
/* 왼쪽 네비바 */




/*------------------body-content------------------*/
/* 오른쪽 문의한 내역*/
.myask_content_area{
  width : 940px;
  background-color: #f6f6f6;

  display: flex;
  align-items: center;
  flex-direction: column;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);   
}



.mainContainer {
  width: 860px;
  height: 720px;

  margin-top : 66px;

  display: flex;
  justify-content: center;
  font-family: 'Noto Sans KR', sans-serif;

  background: #FFFFFF;
    border: 0.5px solid #BDBDBD;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

}
.notice{
  margin : 20px;
  display: flex;
  flex-direction: column;
}

.mainContent {
  width: 1080px;
}

.notice1{
  margin: 20px;
}


.container1{
  margin-bottom: 30px;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;

}

span{
  font-family: 'Noto Sans KR', sans-serif;
}


.container2 {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.container2_title,
.container2_title a{
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  color : #767676;
  font-size: 18px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;

}


.active_title_name{
  padding : 0px 5px;
  width : 50px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.active_title_name2{
  padding : 0px 5px;
  width : 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

}
.active_title_right{
  padding : 0px 5px;
}

.myactive_donation a:hover,
.myactive_volunteer a:hover,
.myactive_event a:hover{
  color : #8071FC;
  font-weight: 700;  
}

.myactive_donation a{
  color : #8071FC;
  font-weight: 700; 
}



.search-filter {
  display: flex;
  align-items: center;
  margin-right: 10px;
  border : 1px solid #e0e0e0;
  border-radius: 5px ;
  font-family: 'Noto Sans KR', sans-serif;
  height: 38px;
}

.search-filter label {
  margin-right: 5px;
  font-family: 'Noto Sans KR', sans-serif;
}

.search-filter select {
  padding: 8px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  outline: none;
  border: none;
  
}





.search-area {
  display: flex;
  justify-content: right;
  width: 100%;
  height: 40px;

}

.search-area fieldset{
  padding: 0;
  margin : auto;
  border : 1px solid #e0e0e0;
  border-radius: 5px ;
  background-color: white;

  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center;


  height: 38px;
  width: 248px;
  display: flex;
  transition : background-color 2s ease-out;
}
.search-area fieldset:hover{
border-color: #8071FC;
}

.search-area fieldset:hover #search-btn {
color:#8071FC;
}

#query{
  padding: 10px;
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  border: none;
  border-radius: 50px ;
  outline: 0;
  width: 91%;
  height: 20px;
 margin: 0;
 background-color: transparent;
}
#query::placeholder{
font-family: 'Noto Sans KR', sans-serif;
font-size: 14px;
color: #767676;
text-align: left;
}

.search-area form {
  display: flex;
  align-items: center;
  height: 40px;
}

.search-area input[type="text"] {
  padding: 8px;
  font-size: 14px;
  outline: none;
 border: none;
  width: 200px;
  height: 38px;
  
}

.search-area fieldset button{
  border: none;
  background-color: transparent;
  color: #767676;
  height: 38px;
  width: 38px;
  
 
}


.myactive_container3 {
  border-top: 2px solid #767676;
  margin : 20px;
}

.myactive_notice-table {
  width: 100%;
  border-collapse : collapse;

}

.myactive_notice-table a{
    text-decoration: none;
    color: #767676;
    font-weight: 500;
    font-size: 14px;
}

.myactive_notice-table thead th{
  padding: 15px 10px;

  font-weight: 600;
font-size: 16px;
line-height: 22px;
color : #767676;

  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #767676; 
  
}


.th_num{
  width: 100px;
}

.th_name{
  width: 300px;
}

.th_date{
  width: 150px;
}

.th_print{
  width: 150px;
}



.myactive_notice-table tbody td {
  padding: 20px 10px;
  border-right: 0;
  border-left: 0;

  border-bottom: 1px solid #D9D9D9;
  
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color : #767676;
}



.myactive_print a{
  border: 1px solid #D9D9D9;
  border-radius: 50px;
  Width : 58px;
  Height : 35px;
  margin-left: 50px ;

  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.myactive_print a:hover {
  
  color : #8071FC;
  border: 1px solid #8071FC;
  border-radius: 50px;

   Width : 58px;
  Height : 35px;
  margin-left: 50px ;

  
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}





.container4{
  width: 850px;
  padding-top: 30px;
  flex-direction: row;

  display: flex;
  flex-direction: row;
  justify-content: center;
}



.page-nav {
 
 justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
}

.pagination {
  display: inline-block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.pagination li {
  display: inline;
 
}

.pagination li a {
  color: #767676;
  padding: 5px 10px;
  margin-left: 20px;
  text-decoration: none;
  transition: background-color 0.3s;
  transition: color 0.3s;
  font-weight: 400;
}

.pagination .current{
     background-color: #8071FC;
  color: #f2f2f2;
  border-radius: 50%;
    }



.pagination li a:hover {
  background-color: #8071FC;
  color: #f2f2f2;
  border-radius: 50%;
}

.active_contatiner{
	display: flex;
    flex-direction: row;
    margin-top: 80px;
    justify-content: space-between;
    margin-bottom: -20px;
}

