@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');



*{
    box-sizing: border-box;
    padding : 0px;
    margin : 0px;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
}


body{
  margin: 0;
  background-color: white;
  color: #000;
  line-height: 1.6em;

  display: flex;
  flex-direction: column;
}

/*상단 나의 문의내역 */
.page-title {
  background-color: #8071FC ;
 
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title span {
  font-weight: bold;
  font-size: 24px;
  color: white;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}

/*title 아래 전체 container*/
.mypage-container{    
  display: flex;
  justify-content: center;
}

/*title 아래 전체 container 중 width 1200px*/
.mypage_wrapper{
    width: 1200px;
    display: flex;
    flex-direction: row;   
}



/*===========================================*/
/* 왼쪽 네비바 */


/*------------------body-content------------------*/
/* 오른쪽 문의한 내역*/
.mypage_content_area{
  width : 940px;
  background-color: #f6f6f6;

  display: flex;
  align-items: center;
  flex-direction: column;

  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); 
}

.mypage_container{
  margin : 60px 20px 20px 20px;
}

.mypage_title1{
  
  margin-top: 20px;
  width: 100px;
height: 25px;

font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */


color: #525252
}


.mypage_mainContainer1 {
  width: 860px;
  height: 200px;

  margin-top : 10px;

  display: flex;
  justify-content: center;

  background: #FFFFFF;
    border: 0.5px solid #BDBDBD;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.mypage_mainContent {
  width: 1080px;
 
}

.mypage_up, .mypage_down{
  margin : 20px 40px;
}

.mypage_up1{
  width: 200px;
height: 33px;


font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */
color: #5D55FA;
}

.mypage_up2{
  margin : 5px 0px;
  display: flex;
  flex-direction: row;
}

.mypage_up2_1{
  width: 130px;
height: 22px;

font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: -0.025em;
color: #767676;
}

.mypage_up2_2{
  width: 200px;
height: 22px;

font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */

letter-spacing: -0.025em;

color: #767676;
}

.mypage_up2_3{
  width: 140px;
height: 25px;
padding : 3px;
border : 1px solid #5D55FA; 
border-radius: 5px;

font-weight: 400;
font-size: 14px;
line-height: 19px;
/* identical to box height */

text-align: center;
letter-spacing: -0.025em;

color: #5D55FA;
}

.mypage_up2_4 img{
  width: 80px;
  height: 80px;

  position :absolute;
  right : 240px;
  top : 280px;
}


hr{
  color : #d9d9d9;
}

.mypage_up3{
  margin-top : 20px;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}



.mypage_up3_1{
  width: 114px;
height: 22px;

margin-top: 25px;

font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #525252;
}

.mypage_up3_2_1{
  /* position: absolute; */
width: 49px;
height: 22px;
margin-left: 330px;
margin-bottom: 10px;
/* left: 1149px;
top: 350px; */

background-color:#5B53F5 ;

border-radius: 10px;
padding: 5px 10px;
font-weight: 500;
font-size: 14px;
line-height: 19px;

display: flex;
align-items: center;

color: #FFFFFF;

}


.mypage_up3_2_2{
  width: 544px;
height: 10px;


background: #F0F0F0;
box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.15);
border-radius: 15px;
}




.mypage_up3_2_2 > div {
  width: 352.36px;
height: 10px;

background: #5D55FA;
box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.3);
border-radius: 15px;
}



.mypage_up4{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mypage_up4_1{
  width: 95px;
height: 14px;

  font-weight: 600;
  font-size: 10px;
  line-height: 14px;
  /* identical to box height */
  
  text-align: center;
  letter-spacing: -0.025em;
  
  color: #5D55FA;
}

.mypage_up4_2{
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  
  color: #767676;
  
}

.mypage_up4_3{
  width:100px;
  height: 14px;

  font-weight: 600;
font-size: 10px;
line-height: 14px;
/* identical to box height */

text-align: center;
letter-spacing: -0.025em;

color: #767676;
}

.mypage_mainContainer2 {
  width: 860px;
  height: 440px;

  margin-top : 10px;

  display: flex;
  justify-content: center;

  background: #FFFFFF;
    border: 0.5px solid #BDBDBD;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}



.mypage_down1{
  width: 794px;
height: 49px;
left: 688px;
top: 541px;

border: 1px solid #5D55FA;
border-radius: 500px;

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
}

.mypage_down1_1{
  font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */

color: #767676;
}

.mypage_down1_2{
  font-weight: 500;
font-size: 16px;
line-height: 22px;
/* identical to box height */

color: #5D55FA;

width: 24px;
height: 24px;

border: 1px solid #5D55FA;
border-radius: 100px;
margin: 8px;
text-align: center;
}

.mypage_down1_3{
  font-weight: 600;
font-size: 24px;
line-height: 33px;
/* identical to box height */


color: #5D55FA;
}

.mypage_down2{
  margin: 20px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mypage_down2_1{
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  
  
  color: #767676;  
}

.mypage_down2_2{
  display: flex;
  flex-direction: row;
}

.mypage_down2_2 button {
  background: #FFFFFF;
border: 1px solid #D9D9D9;
border-radius: 100px;

padding: 4px 12px;
gap: 12px;


width: 54px;
height: 27px;

margin-left: 10px;

font-size: 14px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
text-align: center;

color: #767676;
}

.mypage_down2_2 button:hover{
  cursor: pointer;
  color : #8071FC;
  border: 1px solid #8071FC;
}




/* 적립금 사용내역 */
.mypage_container3 {
  margin : 10px;
  margin-top: -70px;
}

.myask_notice-table {
  width: 100%;
  border-collapse : collapse;

}

.myask_notice-table a{
    text-decoration: none;
    color: #767676;
    font-weight: 500;
    font-size: 14px;
}

.myask_notice-table thead th{
  padding: 10px;

  font-weight: 500;
font-size: 14px;
line-height: 19px;
color : #767676;

  border-bottom: 1px solid #D9D9D9;
  border-top: 1px solid #D9D9D9; 
}

.myask_notice-table tbody td{
  padding: 10px;

  
  
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans KR', sans-serif;
  color : #767676;
}

.myask_notice-table tbody > tr >:nth-child(1),
.myask_notice-table tbody > tr >:nth-child(2){
  text-align: center;
}


.mypage_container_ba{
  display: flex;
  flex-direction: row;
}

.mypage_container_ba_1{
  font-weight: 400;
font-size: 12px;
line-height: 16px;
display: flex;
align-items: center;
text-align: center;

width: 45px;
height: 17px;
margin-right: 10px;

color: #8071FC;
border : 1px solid #8071FC; 
border-radius: 10px;
padding : 0px 5px;
}

.mypage_container_ba_2{
  font-weight: 600;
font-size: 14px;
line-height: 19px;
/* identical to box height */

display: flex;
align-items: center;
letter-spacing: -0.05em;

color: #767676;
}



.th-date,
.th-pay{
  width: 70px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
}


.th-title {
  width: 400px;
  font-family: 'Noto Sans KR', sans-serif;
  text-align: left;
}

.mypage_bottom{
  margin-left: 20px;
  font-weight: 400;
font-size: 12px;
line-height: 25px;
/* identical to box height, or 150% */

letter-spacing: -0.025em;

color: #828282;
}



