@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('http://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');


.reportContainer{
    width : 1020px;
    height: 1400px;
    display: flex;
    flex-direction: column;

}

.reportContent{
    
    width : 900px;
    height: 1300px;
    border: 1px solid black;
    padding : 60px;
    margin-top: 20px;
}

.reportPrint{
    text-align: right;
}



.reportPrint button{
    color : #ffffff;
    border: none;
    border-radius: 20px;
    background-color: #978aff;
    width: 100px;
    height: 40px;
    cursor: pointer;    
}


.reportTitle1{
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;

  margin : 100px;
}

.reportTitle2{
    font-weight: 600;
  font-size: 25px;
  font-family: 'Noto Sans KR', sans-serif;
}

.reportTitle2_container{
    margin-top: 40px;
}


.reportCont1{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    height: 30px;
}


.reportCont2{
  font-weight: 600;
  font-size: 20px;

  font-family: 'Noto Sans KR', sans-serif;
  display : flex;
    align-items: center;
  width: 300px;
}

.reportCont3{
    font-weight: 400;
  font-size: 18px;
  font-family: 'Noto Sans KR', sans-serif;
    display : flex;
    align-items: center;
}



.reportCont4{
    font-weight: 400;
  font-size: 16px;
  
  font-family: 'Noto Sans KR', sans-serif;

  line-height: 30px;
  margin-top: 100px;
}


.reportDate{
    font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  font-family: 'Noto Sans KR', sans-serif;
  
  margin-bottom: 20px;
  margin-top: 100px;
}

.reportName{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    
    margin-bottom: 30px;
    margin-top: 100px;
}













/* 인쇄할 때 버튼 숨기기 */
@media print {
    .reportPrint {
      display: none; 
    }
  }