@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: white;
    color: #000;
    line-height: 1.6em;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

.page-title {
    margin-bottom: 100px;
    background-color: #8071FC ;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.page-title span {
    font-weight: bold;
    font-size: 24px;
    color: white;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
}

.mainContainer{
    height: 100vh;
    display: flex;
    justify-content: center;
}

.mainContent{
    width: 1080px;
    height: 110vh;
}

.TitleBox{
    width: 1080px;
    height: 48px;
    left: 401px;
    top: 189px;
}

.title input{
    width: 1000px;
    height: 22px;
    left: 416px;
    top: 202px;
    border: transparent;
    outline: none;
    font-style: normal;
    font-family: 'Noto Sans';
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-left: 12px;
    color: #767676;
}

.title input::placeholder{
    color: #BDBDBD;
}

.title{
    margin-bottom: 12px;
    width: 1080px;
    height: 48px;
    left: 416px;
    top: 202px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
}

.volunteerInfoInner {
    display: flex;
    margin-block: 20px;
}

.volunteerInfoInner > div {
    display: flex;
    flex-flow: column wrap;
    font-size: 16px;
    font-family: 'Noto Sans';
    font-family: 'Noto Sans KR', sans-serif;
}

.volunteerInfoInner > div > input {
    height: 48px;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    font-family: 'Noto Sans';
    font-family: 'Noto Sans KR', sans-serif;
}

.volunteerInfoInner > div > input::placeholder {
    color: #BDBDBD;
}

.volunteerStartDate {
    flex-grow: 1;
    margin-right: 20px;
}

.volunteerEndDate {
    flex-grow: 1;
    margin-right: 20px;
}

.volunteerGoal {
    flex-grow: 1;
}

.volunteerLocate {
    display: flex;
    flex-wrap: wrap;
}

.volunteerLocateTitle {
    flex-basis: 100%;
    font-family: 'Noto Sans';
    font-family: 'Noto Sans KR', sans-serif;
}

.volunteerLocateInput {
    flex-basis: 50%;
    height: 48px;
    outline: none;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    margin-right: 20px;
    font-family: 'Noto Sans';
    font-family: 'Noto Sans KR', sans-serif;
}

.volunteerLocateSelect {
    font-family: 'Noto Sans';
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #8071FC;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}

.contentContiner{
    margin-top: 12px;
}

.submitContainer{
    margin-top: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.listBack{
    margin-right: auto;
}

.submitContainer button{
    width: 98px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid #BDBDBD;
    color: #767676;
    text-align: center;
    justify-content: center;
    margin-left: 12px;
    cursor: pointer;
}

.alarmCheck{
    display: flex;
    text-align: center;
    align-items: center;
    color: #767676;
}
