@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Open Sans', sans-serif;
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: white;
    color: #000;
    line-height: 1.6em;

    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: #000;
}

.mainCategoryArea {
    background-color: #978AFF;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainCategoryInner {
    display: flex;
}

.mainCategoryItem {
    padding: 4px 12px;
    margin-inline: 8px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #D6D3F4;
}

.mainCategoryChecked {
    background-color: #fff;
    color: #978AFF;
    font-weight: bold;
}

/* section mainContainer */
.mainContainer{
    border: 1px solid pink;

    display: flex;
    justify-content: center;

    margin-top: 20px;
}

.mainContent{
    width: 1200px;
    /*background-color: lightgreen;*/
}

.volunteerInfoArea {
    width: 100%;
    height: 573px;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 7px 7px 7px #0000001e;
    margin-bottom: 20px;
    display: flex;
}

.volunteerDetailThumbnail {
    width: 70%;
    height: 100%;
    overflow: hidden;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
}

.volunteerDetailThumbnailPrevious {
    position: absolute;
    background-color: #FFFFFF7F;
    border-radius: 100%;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteerDetailThumbnailNext {
    position: absolute;
    background-color: #FFFFFF7F;
    border-radius: 100%;
    width: 50px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.volunteerDetailThumbnailButton {
    width: 20px;
}

.volunteerInfo {
    flex-grow: 1;
    padding: 20px;
}

.volunteerInfo > div {
    margin-block: 12px;
}

.volunteerProgress {
    height: 74px;
    color: #8071FC;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    align-items: center;
}

.volunteerProgressBar {
    width: 100%;
    height: 10px;
    border-radius: 30px;
    background-color: #F0F0F0;
    appearance: none;
}

.volunteerProgressBarValue {
    background: linear-gradient(to top, #8071FC 50%, #574da1);
    border-radius: 30px;

    width: 50%;
    height: 100%;
}

.volunteerDateArea {
    display: flex;
    justify-content: space-between;
}

.volunteerDate {
    font-size: 14px;
}

.volunteerD-day {
    width: 55px;
    height: 27px;
    padding: 4px 8px;
    border-radius: 100px;
    font-size: 14px;
    background-color: #8071FC;
    color: white;
    display: flex;
    align-items: center;
}

.volunteerGoal {
    color: #767676;
    padding-top: 32px;
    font-size: 32px;
}

.volunteerContent {
    height: fit-content;
    background-color: #F6F6F6;
    border-radius: 30px;
    box-shadow: 7px 7px 7px #0000001e;
    padding: 20px;
    margin-bottom: 20px;
}

.vAgencyInfo {
    height: fit-content;
    background-color: #F6F6F6;
    border-radius: 30px;
    box-shadow: 7px 7px 7px #0000001e;
    padding: 20px;
    margin-bottom: 20px;
}

/* footer */
.footerContainer{
    background-color: #F6F6F6;
    box-shadow: 0 5px 5px rgb(0, 0, 0, 0.1);
    height: 244px;
    display: flex;

    justify-content: center;
}

.footerContent{
    width: 1200px;
    height: 65px;
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;
}
